[2013-05-06 18:09] mushon opened #105 "Turn the Homepage "Tidbits" area into a flexible feature slider"
Right now the homepage slider only shows tidbits, which creates sad incidents of ugly huge banners in the homepage. We need to:
- Allow marketing messages (aka banners) in the slider
- Finish the design of the slider
- limit the number of characters in an item
- define some rules about the dynamic image (for example, use MK profile image on items concerning them)

After defining and designing thes

[2013-05-06 18:26] mushon opened #106 "Design icons for the card titles"
Card titles are built to present an icon next to their title. This has been a part of Adi's original design. We need to conclude the icon design and to crop them to the right sizes.

[2013-05-06 18:44] mushon opened #107 "Fix agenda circle visualization"
The visualization is supposed to present the supported in green from the top clockwise (to the right) and the opposed in red from the top counter-clockwise (to the left). It currently doesn't work like this.

![broken-visualization ong](https://f.cloud.github.com/assets/27123/467545/48a49408-b67c-11e2-8559-95b6dfc5f757.png)

should be:

![visualization-should-be](https://f.cloud.github.com/assets/

[2013-05-06 19:13] morchickit opened #108 "לתקן את דברי ההסבר בדף הצבעה (ובכלל, לעבור על דברי ההסבר ולשפר)."
יש לתקן את דברי ההסבר למשתמש בדף ההצבעה לדוגמא כאן:
: http://oknesset.org/vote/5678/
(הטקסט שמסומן בכחול)
יש לשים לב כי הדף עוסק על הצבעות במליאה. הצבעות במליאה לא חייבות להיות על הצעות חוק, אלא למשל על מינויים שונים בכנסת, אי אמון וכו'.

[2013-05-06 19:22] morchickit opened #109 "לכתוב דברי הסבר לסטטיסטיקות השונות שמופיעות בדף חבר כנסת ובדפי השוואה בין ח"כים ובין סיעות"
.במשימה זו יש לדבר עם עפרי, מוביל הפרוייקט או לעשות ביחד עם מתכנת, ולהסביר מה אומרת כל סטטיסיטיקה על פעילות ח"כים בכנסת פתוחה
:בדף ח"כ

נוכחות במשכן
נוכחות בועדות
משמעת סיעתית
משמעת קואליציה

[2013-05-07 19:02] ofri opened #111 "Committee members presence data is obscured by pictures of members of the following line"
For example, in here: http://oknesset.org/committee/4/
![screenshot from 2013-05-07 21 48 49](https://f.cloud.github.com/assets/105233/473252/8f78c8e6-b748-11e2-9701-85af5ad4546d.png)

[2013-05-27 08:15] MeirKriheli opened #116 "Agenda without image causes an api error"
Make sure agenda actually has an image in [laws/api.py#91](https://github.com/hasadna/Open-Knesset/blob/master/laws/api.py#L91).

Example URL from tracebacks:
`/api/v2/vote/681/`

[2013-05-27 08:45] ofri opened #117 "vote API error when an agenda with no image is ascribed to the vote"
example: in /api/v2/vote/685/

[code]

need to deal with `agenda.image is None` case.

[2013-05-27 08:48] #117 closed, assigned to nobody

[2013-05-29 07:43] #116 closed, assigned to yoniLavi

[2013-06-07 15:33] guysoft opened #120 "No native search"
There is no native search option within the Open Knesset database. The current google search is not good enough. Information is not accessible because of this.

[2013-06-10 19:38] ofri opened #121 "False positive in finding MKs in committee meeting - MK has the same name as a committee legal advisor"
for example, in http://oknesset.org/committee/meeting/7246/ and http://oknesset.org/committee/meeting/7294/ MK Elazar Shtern is found by the algorithm, when in fact it is the committee legal advisor Elazar Shtern.

[2013-06-11 06:05] MeirKriheli opened #122 "Distribuite in devel docs for windows is gone"
The link to distribute in the Windows section of the developers documentation is no longer valid.

Alternate means of installing distribute is required, and documentation update to match it.

[2013-07-01 19:31] MeirKriheli opened #124 "Tagging"
Current tagging situation is a mess and should be improved.
- Tags Relationships:
  - FK to the master tag
  - When someone tags with a "child" tag, show notification that it was tagged as the master tag
  - Auto complete on all tags (Master and children)
  - django-taggit with our custom tag model
  - django-tagging remains for the planet functionality
- New tags:
  - Users can't create tags no m

[2013-07-01 19:42] ofri opened #125 "When user with no edit permissions trys to add annotations, nothing happens"
in committee meeting pages (e.g. https://oknesset.org/committee/meeting/7313/ ), there are links with text האירו. when a user with no edit permissions (no validated email) clicks it, nothing happens.

It should display a message saying you need to validate your email with a link to the user profile.

[2013-07-03 15:38] morchickit opened #127 "Find Academic references for Open Knesset"
Search the web for academic paper which are writing in Open Knesset, in order to make a bank of references for our use.

[2013-07-04 08:16] #122 closed, assigned to nobody

[2013-07-08 16:31] ofri opened #128 "splitting MK roles by comma causes incorrect presentation"
in https://oknesset.org/member/739/%D7%A2%D7%9E%D7%A8%D7%9D-%D7%9E%D7%A6%D7%A0%D7%A2/ the role description says:
יו"ר ועדת החינוך | התרבות והספורט
as if יו"ר ועדת החינוך  is one role, and התרבות והספורט is another role.

the is caused by the roles property (mks/models.py:359) splitting the role string by comma. this specific role happens to contain a comma.

suggested fix: change to splitting by s

[2013-07-08 17:02] ofri opened #129 "Use API v2 with ?format=csv to restore the export to excel functionality"
we need an easy way to export MK, vote and bill data to excel (csv).

API v2 supports that. see the API docs: https://oknesset-api.readthedocs.org/en/latest/index.html . add ?format=csv (not documented yet).

Just need to create a link from MK list page, vote list page, and bill list page to the respective API URL (note that we would like to preserve the user's filters if possible. so for example,

[2013-07-08 17:09] ofri opened #130 "login through gmail/google doesn't work"
leads to a blank page.

[2013-07-08 17:34] guibor opened #131 "Installation guidelines do not specify Linux users must fork the repository before cloning it"
https://github.com/hasadna/Open-Knesset/

Suggestion:

Activate the virutalenv cd oknesset; . bin/activate Note the changed prompt which includes the virtualenv's name.

"""  add:
Fork the repository [or do whatever else needs to be done for the rest to work]
""" and then continue with:
Clone the repository:

git clone https://github.com/your-username/Open-Knesset.git
This creates a copy of the pr

[2013-07-08 19:59] yoniLavi opened #132 "Site search results contain absolute links to oknesset.org"
This confused us earlier when we ran a search in a dev server and suddenly found ourselves on the production server.

This is caused by the results coming as is from the google custom search. I don't know if it's worth the hack, but perhaps we should rewrite the urls to be relative before displaying them.

The downside to this is that there's a good chance that the linked page isn't part of the de

[2013-07-15 15:41] #125 closed, assigned to nobody

[2013-07-15 15:41] #128 closed, assigned to nobody

[2013-07-15 15:41] #129 closed, assigned to nobody

[2013-07-15 19:13] orarbel opened #134 "Topics and topic comments has no timestamps"
I was reading today articles in the news about babies left in the car. I then stumbled upon this link: http://oknesset.org/committee/topic/32/

I couldn't tell when this topic was written nor when the comments on it was submitted.

[2013-07-15 19:37] orarbel opened #136 "Like button shows "שגיאה" in topic pages"
For example here: http://oknesset.org/committee/topic/32/
in the "הפיצו" box.

[2013-07-19 14:01] ofri opened #138 "Untranslated strings in login page"
go to login page, enter incorrect username / password. you'll get the error message:
"Please enter a correct שם משתמש and password. Note that both fields may be case-sensitive"
which is partially translated.
need to add django he translations to our po/mo files.

[2013-07-22 17:00] #134 closed, assigned to nobody

[2013-07-22 17:00] #136 closed, assigned to nobody

[2013-07-22 18:25] ofri opened #140 "Change comparison (of MKs and parties) to use only data from the current knesset"
pages like http://oknesset.org/party/by/bills-approved/ and http://oknesset.org/member/by/bills_proposed/ show data that is based on all bills. this needs to be changed to count only bills that were proposed/approved/etc in the current knesset.

[2013-07-22 19:12] #111 closed, assigned to nobody

[2013-07-22 19:26] ofri opened #141 "CommitteeMeeting.title() uses deprecated truncate_words"
need to switch to Use the Truncator class in django.utils.text instead.

[2013-07-22 20:08] #141 closed, assigned to nobody

[2013-07-24 18:58] ofri opened #142 "Add filter by proposing MK to bill list, and add link to that filter from the MK page"
This type of page http://oknesset.org/bill/?member=826 exists, but the only way to get to it is from page like http://oknesset.org/member/by/bills_proposed/ (see also the other stage filters) Need to add it to the bill list filter, and then link from each MK page to the list, filtered to show bills proposed by that MK (possibly, add links to the list filtered by different bill stages - proposed, p

[2013-07-29 15:41] ofri opened #144 "When agenda editor submits an invalid VoteLinkingForm no error is dispayed."
in pages like https://oknesset.org/vote/5894/ if the logged in user is an editor of an agenda, he gets a form to link the current vote to his agenda(s). The form is submitted to a generic view (update_editors_agendas in agendas/view.py) that deals with several types of similar forms. After a form is submitted, we return a redirect. if the form is invalid (for example, the 'reasoning' field contain

[2013-08-05 17:40] #130 closed, assigned to nobody

[2013-08-19 16:39] iTenenbaum opened #145 "test; you can delete this."

[2013-08-19 16:39] #145 closed, assigned to nobody

[2013-08-19 17:11] ofri opened #146 "Feedback form puts /feedback/ as URL"
all the suggested feedback objects have /feedback/ as their URL.
The URL should contain the URL which the user was at, when clicking the feedback button (to help the person reading the feedback get the proper context).

[2013-08-19 17:17] ofri opened #147 "/committee/<id>/all_meetings/ presents meetings for all committees, instead of only committee <id>"
for example http://oknesset.org/committee/3/all_meetings/ is supposed to present only meetings of committee 3 (and it says so in the title) but it presents meetings by all committees.

[2013-08-19 18:16] ofri opened #148 "Allow sending email to a user that created a feedback suggestion from the review form"
when reviewing user feedback, we need the editors to be able to send a short message, preferably by email (or by in-site notification if we don't have the email - this is optional) to say thank you, to explain why something won't be implemented, ask further questions, etc.

[2013-08-19 18:17] ofri opened #149 "add headers to ?format=csv api v2"
oknesset.org/api/v2/vote/?format=csv&limit=50 exports votes data. it does not provide column headers, and it should.

[2013-08-19 18:22] ofri opened #150 "Tidbit (הידעת) design breaks when text is long"
When the text is too long, the button seems to run over and hide a part of the text.

![_ _20130819-212004](https://f.cloud.github.com/assets/105233/988176/27628610-08fc-11e3-80c3-4cec576eecd6.png)

[2013-08-26 10:02] morchickit opened #151 "Update Open Knesset page in Hasadna Wiki"
Open Knesset has this page on Hasadna wiki - http://wiki.hasadna.org.il/index.php?title=%D7%9B%D7%A0%D7%A1%D7%AA_%D7%A4%D7%AA%D7%95%D7%97%D7%94

Need to add:
- Contact details
- Technical details
- What volunteers need to do in the project
- History of the project
- Links to media coverage
- etc.

[2013-08-26 10:33] #146 closed, assigned to MeirKriheli

[2013-08-26 17:28] #148 closed, assigned to nobody

[2013-08-26 17:56] #147 closed, assigned to ofri

[2013-09-03 21:15] iTenenbaum opened #153 "Write explanation for the סיעות metric in the אג'נדות section of the website."
Your mission, should you choose to accept it, is to write a clear explanation for the סיעות metric found in the אג'נדות section of the website, so that the layman oknesset user will be able to make sense of what this metric means.

(link to image:
https://googledrive.com/host/0B09gtBbVkTqnN1lQc2ZubkkyTm8/%D7%90%D7%92'%D7%A0%D7%93%D7%95%D7%AA_%D7%A1%D7%99%D7%A2%D7%95%D7%AA.png)

Please include:

a.

[2013-09-14 15:38] danielhers opened #155 "Broken interface on mobile"
![screenshot_2013-09-14-18-33-51](https://f.cloud.github.com/assets/263363/1143720/a38fa77a-1d53-11e3-83e1-f21fc0aa0cc5.png)

[2013-09-30 17:24] habeanf opened #159 "Show by default only agendas with associated votes for the current knesset"

[2013-09-30 19:18] ofri opened #161 "Votes against party/coalition are wrong"
for example, in http://oknesset.org/member/105/%D7%A2%D7%9E%D7%99%D7%A8-%D7%A4%D7%A8%D7%A5/ , click the question mark near משמעת קואליציה and you get a list of votes this MK voted against the coalition. its computed wrong - because in the previous knesset he was in a different party than other MKs in his current party, it is counted as if he voted against them, but they were not really his party/c

[2013-10-12 10:48] thedod opened #165 "Errors in MK residence"
[The map here](http://is.gd/map2bio) ([gist](https://gist.github.com/thedod/6077722)) uses Oknesset API for `place_of_residence*` and additional MK information.

We've discovered various errors there (based on a small sample of MKs and ex-MKs):
- In some cases (e.g. all MKs with residence in Jerusalem), several MKs get the same geodata (we had to add noise to make the map more usable).
- For some

[2013-10-14 18:48] ofri opened #167 "Error reading committee meeting protocol RTF"
the code is in simple.management.commands.syncdata:936

it works OK for most committee meeting protocols, but for some, it returns an empty string.

to recreate the problem run in a django shell:

from simple.management.commands.syncdata import Command
x = Command()
y = x.get_committee_protocol_text('www.knesset.gov.il/protocols/data/rtf/huka/2013-10-08.rtf')
y
Out: ''

You should get a very long

[2013-10-14 19:55] ofri opened #168 "Error reading approved bill RTF"
code in simple.managements.sync_data : get_approved_bill_text

to recreate the problem, use
from simple.management.commands.syncdata import Command
x = Command()
x.get_approved_bill_text('http://www.knesset.gov.il/privatelaw/data/19/3/711_3_1.rtf')

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 0: character maps to <undefined>

[2013-10-14 20:25] ofri opened #169 "Add link from vote to relevant part in matching plenum protocol"
in vote, such as http://oknesset.org/vote/6196/ it would be nice to have a link to the relevant part in the plenum protocol http://oknesset.org/plenum/7678/ - the correct plenum meeting can be easily found by date (there is only 1 plenum protocol per day. possible edge case - votes that are after midnight might be in the plenum protocol of the previous date! need to check this). the relevant part

[2013-10-21 18:21] #150 closed, assigned to nobody

[2013-10-21 18:22] #155 closed, assigned to nobody

[2013-10-21 18:55] #140 closed, assigned to ofri

[2013-11-04 18:12] #149 closed, assigned to nobody

[2013-11-04 18:13] #131 closed, assigned to nobody

[2013-11-04 19:09] OriHoch opened #171 "Easier reading of long plenum protocols by dividing into sections"
The plenum protocols are very long and hard to read.

The protocol can be divided into sections by detecting headers in the text.

Can add a UI element for navigating between those sections.

[2013-11-04 21:54] ofri opened #172 "Vote/Bill API does not respect filters"
Vote API should use the same filters format as out /vote/ page, because in /vote/ page we have an "export to csv" button. For example, after setting the filter to a date range, the "export to csv" link seems to update correctly to http://oknesset.org/api/v2/vote/?from_date=2012-03-01&tagged=all&vtype=all&order=time&to_date=2012-03-15&format=csv&limit=0 but the resulting file still contains votes o

[2013-11-12 13:39] MeirKriheli opened #173 "Fix responsive footer menu for small screeens"
See in the following image:

![footer_responsive](https://f.cloud.github.com/assets/46095/1521947/f5441858-4b9d-11e3-8ed4-299d6d910761.png)
- The menu should be centred, preferably without the right border.
- The box shadow is visible on the sides, remove it for small screens.
- The location of the search icon is outside of the search box.
- There's lots of spacing between the seach box and next h

[2013-11-14 06:13] MeirKriheli opened #174 "Update mentions in press and media for the about page."
Open Knesset's [About Page](http://oknesset.org/about/) contains a box of mentions in the media.

The content is not up to date, with the latest entry dated March, 2011. Please provide more links to be included in that box.

[2013-11-25 20:10] #106 closed, assigned to nobody

[2013-11-26 10:50] ofri opened #176 "display only recent (6 months) mmm documents, and sort by date"
currently, in pages like http://oknesset.org/committee/5/ , in the mmm documents section we show all documents, and not sorted by anything obvious. need to sort by date (recent first) and show only documents from last 6 months, with an option to click and get more.

[2013-11-28 12:34] ofri opened #177 "Improvements in item lists in tag page"
in pages like http://oknesset.org/tags/%D7%AA%D7%97%D7%91%D7%95%D7%A8%D7%94%20%D7%A6%D7%99%D7%91%D7%95%D7%A8%D7%99%D7%AA/ there is a list of related committee meetings. we need to:
1. add the name of the committee (above the topics)
2. add the number of participating mks (below the date)

in all lists (committee meetings, votes, bills) we need to present only 20 items by default, with a button to

[2013-11-28 12:54] ofri opened #178 "improve committee meeting filtering ability"
in pages like http://oknesset.org/committee/3/all_meetings/ , we need to add more filtering options:
1. show only meetings with up to X attending MKs.
2. show only meetings with X or more attending MKs.
3. show only meetings that have no tags.
4. show only meetings with הצעת חוק in the title, but no lined bill.
5. show meeting where specific MKs attended

[2013-11-28 17:32] antin opened #179 "Missing some fields at the vote entity"
1. I need the stage of the vote, "approved", "first call" etc...  (see http://oknesset.org/api/v2/vote/3335)
2. In the agenda response some filds are part of the vote entity but most of them are missing (like http://oknesset.org/api/v2/agenda/41/)

Thanks,
Alon

[2013-12-02 17:57] OriHoch opened #180 "information about lobbyists"
the knesset apis have information about lobbyists - see how we can integrate it into open knesset

http://online.knesset.gov.il/WsinternetSps/KnessetDataService/LobbyistData.svc/

[2013-12-02 17:59] OriHoch opened #181 "improve bill scraping"
focus on government bills - which work with pdfs today but maybe we can get data from knesset apis:
http://online.knesset.gov.il/WsinternetSps/KnessetDataService/LawsData.svc/
http://online.knesset.gov.il/WsinternetSps/KnessetDataService/BillsData.svc/

[2013-12-02 18:11] OriHoch opened #182 "add MKs presence scraping code to OpenKnesset repository"
the code that scrapes the MK presence data is not in the repository - need to add to the repository

this is a first step to allow later to maybe use the raw presence data / to update more frequently etc..

[2013-12-02 18:11] OriHoch opened #183 "add information about mks work schedule"
Today in Open Knesset we only display mks presence in the knesset - this doesn't give the complete picture because mks might work outside the knesset building.

Need to check if MKs have public diaries which from we can scrape and show in OpenKnesset.

[2013-12-02 18:14] OriHoch opened #184 "show MKs presence punch-card / calendar of knesset events"
Show something like github punch-card:
https://github.com/OriHoch/Open-Knesset/graphs/punch-card
or just a calendar

we can show events like:
MKs presence
vote time
committee start / end time

etc..

this can allow to see if an MK was present during a vote but didn't vote or other such useful information

it partially depends on #182

[2013-12-02 20:25] OriHoch opened #186 "add simple interface for approving / rejecting tag suggestions"
today it's possible to approve / reject tag suggestions only from admin interface

need to add a notification in homepage if there are pending tags and allow to easily approve / reject ( similar to tidbit suggestions )

[2013-12-02 20:34] ofri opened #187 "Add a browsing history component"
save the user's browsing history in the session, so that we can show it to them (to help finding again pages they visited). this should only include pages of specific entities (i.e., pages that have an id in their url), and pages that have been visited for longer than 2 minutes.

visually, add a side tab (like feedback) that shows these pages with links to them.

[2013-12-03 09:05] MeirKriheli opened #188 "Smaller margin in cards on mobile devices"
While it's looks good on desktop browsers, on smaller devices the margin for cards is too large.

Take for example a MK page of [עפר שלח](http://oknesset.org/member/900/%D7%A2%D7%A4%D7%A8-%D7%A9%D7%9C%D7%97/), this is how that page looks on smaller devices:

![card_margin_2013-12-03_10 59 45](https://f.cloud.github.com/assets/46095/1662184/64b94ea4-5bf9-11e3-9b71-a93b68566f8d.png)

The ul/li margi

[2013-12-03 09:51] daonb opened #189 "Add a contact address for editors"
Agenda editors and content creators should be presented with a message like "Can't find what you're looking for? contact us at mail@oknesset.org"

[2013-12-03 15:36] antin opened #190 "הוספת רשימת המוזמנים לדיון בועדות בדף הוועדה וב-api"
נכון להיום אתר כנסת פתוחה מקבל מאתר הכנסת את נושאי הדיונים הצפויים בכל ועדה, אך הוא לא מעתיק את רשימת המוזמנים לדיון, שנמצאת מתחת לנושא הדיון. לו הייתה רשימת המוזמנים מופיעה גם בכנסת פתוחה, אפשר היה להוסיף אליה לאחר שמות תאגידים או גופים אחרים את שם חברת הלובי המייצגת אותם. לדוגמה:

יום שני, 2.12.2013:
הצעת חוק הגבלת הפרסומת והשיווק של מוצרי טבק (תיקון מס'' 7), התשע"ב-2012
מוזמנים:
משרד הבריאות, מ

[2013-12-09 10:01] OriHoch opened #191 "add committee meeting live video"
on knesset site there are live feeds for committee meetings, it should be easy to get these video feeds and provide a live indication on the main committees page that there is a live feed available.

Can show the video itself embedded in the committee page with instructions on how to play the video on different platforms (windows / linux / mac)
- for linux you just need to install a plugin for exa

[2013-12-09 17:28] OriHoch opened #192 "add committee meeting archived videos"
Most committee meetings have a meeting video in the knesset site

The video can be embedded in the committee meeting page

There is an old merged pull request that downloads those meeting videos and uploads them to youtube (#20)

The problem is that this is a heavy process, so it should not be part of Open Knesset.

Need to create this as a separate process that does not rely on the Open Knesset d

[2013-12-09 18:21] orishahori opened #193 "show annotations from protocols in MK page"
Whenever a user annotates sentences in a protocol, the system will recognize the MK that said them, and will show them in the relevant MK page in a special box of annotations.
Example:
In this protocol - https://oknesset.org/committee/meeting/5646/
User דרור רשף annotated a sentence of MK יצחק וקנין.
The annotated sentence will show in יצחק וקנין page - http://oknesset.org/member/50/
in a special

[2013-12-09 21:19] ofri opened #195 "Remove MemberAltname and all of its uses, and use Persons.PersonAlias instead"

[2013-12-13 07:56] #179 closed, assigned to nobody

[2013-12-14 15:49] #188 closed, assigned to nobody

[2013-12-16 19:43] #167 closed, assigned to nobody

[2013-12-23 18:31] OriHoch opened #198 "organize and standardize scraping processes"
https://github.com/OriHoch/okscraper/blob/master/README.md

[2013-12-23 20:18] OriHoch opened #199 "remove usage of jQuery.live becuase it is deprecated in jQuery 1.9"
it is used for the infinity scroll in the committees - can check if there are other usages as well

[2013-12-28 14:31] ofri opened #200 "committee protocol infinite scroll broken when accessing the page with # in the URL"
when you access a committee meeting protocol page with #, like https://oknesset.org/committee/meeting/7559/#speech-7559-2 and scroll to the bottom of the page, the infinite scroll loads the same protocol again, instead of loading the next page.

(if it matters, note that we currently have 2 types of # in this page, #speech... and #annotation... like https://oknesset.org/committee/meeting/7559/#ann

[2013-12-30 17:56] OriHoch opened #201 "bug with tag synonyms - more synonyms should appear"
according to the excel in this document - https://docs.google.com/a/uumpa.com/document/d/1iBl0mrdsIUs_6ORmXJTwsU5rtuu2Myy2B2_ijt_fwMg/edit?pli=1 - there should be a lot more synonyms then currently appear

need to check what is the problem

(related to #124)

[2013-12-30 17:57] OriHoch opened #202 "tags synonyms - provide an interface to add and edit synonyms"
(related to #124)

[2013-12-30 18:06] orishahori opened #204 "Import percentage of attendance in committies to MK page"
For example - In this committy - http://oknesset.org/committee/3/ , MK Dov Liefman attended 52% of the time. Bring this number to MK Dov Liefman's page.

[2013-12-31 07:29] OriHoch opened #205 "automatic scroll of tidbits in homepage causes "jumps" in small resolutions"
הי
קבלו בעיית שמישות שאפשר לתקן בקלות:
כשנכנסתי לעמוד הראשי דרך סמארטפון (גלקסי 4), שמתי לב שאזור "הידעת" שמתעדכן כל 5 שניות, משנה גם את הגובה שלו בכל פעם.
זה הופך את קריאת כל התכנים בהמשך העמוד לכמעט בלתי אפשרית.
יכול להיות שבדפדפן מלא העדכון התכוף הזה פחות מורגש כי השורות יותר ארוכות וזה מוריד את הסיכוי לגלישת שורות, אבל במובייל רואים את זה בצורה מאוד ברורה, וזה ממש מעצבן.

רעיונות לשיפור:
*במוב

[2014-01-06 19:54] habeanf opened #206 "Errors in agenda pie visualization"
See http://oknesset.org/member/902/
![screenshot from 2014-01-06 21 53 38](https://f.cloud.github.com/assets/488342/1853454/557ab882-770c-11e3-8294-59719fc13718.png)

[2014-01-13 08:56] ofri opened #207 "Add ability to follow bill and tag, and get email updates about them"
following a bill is already possible, just that it doesn't send any email alerts.
need to add that, and add ability to follow a tag.
email updates are in notify app, in a management command.
we use actstream to manage who is following what.
see the following:
user/views.py user_follow_unfollow and user_is_following
templates/auxiliary/_watch.html (and example usage in templates/mks/member_detail.h

[2014-01-13 11:30] ofri opened #208 "Add ability to match a vote to a bill as second vote(s) or demurrer (הסתיגות)"
currently, there is a relation from bill to pre-votes, first-vote, and approval vote. need to add scond-vote (a link from vote to bill. the bill must be unique, but the same bill can have many "second votes"), and the same for demurrer.

add a form by which editors can make this link (like the one we have in bill page for pre-votes, first votes, approval votes).

[2014-01-13 11:33] ofri opened #209 "Add ability to match a vote to a bill from the vote page"
currently, this is only possible from the bill page.
need to add a form in which editors will be able to select a relation type (pre-vote, first vote, etc), and select (with autocomplete) a bill, and submit to make the link.

[2014-01-13 11:38] ofri opened #210 "Improve vote-bill matching autocomplete dialog"
![screenshot from 2014-01-13 13 35 28](https://f.cloud.github.com/assets/105233/1899983/eb4ebe3c-7c46-11e3-885a-3594f73ca667.png)

in bill page, there is an option for editors to link a matching vote, using autocomplete. we need to improve it in 2 ways:
1. add the vote date.
2. make sure the whole vote title (and date) are visible

[2014-01-20 19:48] OriHoch opened #211 "infinite scroll is really infinite + shows irrelevant message"
two problems which I think are both related to f42ec5f9ec55a98c4d63c4d77cfb09fdbb3a067d
1. infinite scroll is infinite - You can scroll down forever..
   http://oknesset.org/committee/meeting/8097/
2. If you do manage to reach the end of the scroll it shows a message -
   "Sorry! we don't have the protocol."
   "מצטערים! אין לנו את הפרוטוקול. ניתן לנסות לקרוא אותו באתר הכנסת."
   http://oknesset.o

[2014-01-20 20:44] OriHoch opened #214 "tests failing: testBillListByBooklet, test_parse_knesset_bill_pdf_text"
[code]

[2014-02-03 19:37] #211 closed, assigned to nobody

[2014-02-03 19:37] #199 closed, assigned to nobody

[2014-02-03 19:40] OriHoch opened #215 "Split long plenum protocols into sections"
some plenum protocols are very long, we can try to detect sections in the protocol text and allow navigating between those sections

[2014-02-03 19:40] #171 closed, assigned to nobody

[2014-02-03 20:24] #200 closed, assigned to nobody

[2014-02-06 08:22] OriHoch opened #217 "improving committee/plenum protocols usability"
Comments regarding usability of committee/plenum protocols:
1. ישנם מעברים לעמודים והגלילה לא כזו ארוכה. מה שכן, בתחתית הפולד אין מעברים לעמודים, אלה רק למעלה יש, למה?
   1. מהלפטופ שלי הפרוטוקול עצמו מתחת לפולד (מתחת לרשימת הנוכחים) - אולי כדאי להוסיף אינדיקציה להימצאותו שם כי בהתחלה לא הבנתי שהוא למטה והתחלתי לחשוב אולי אני במקום הלא נכון
2. זמן הטעינה לעמוד אחר הוא ארוך מאוד. בכל מקרה כזה כבר ע

[2014-02-17 20:09] OriHoch opened #219 "travis build fails on PIL"
https://travis-ci.org/hasadna/Open-Knesset/builds/19062289

Downloading/unpacking PIL (from -r requirements.txt (line 11))
  Could not find any downloads that satisfy the requirement PIL (from -r requirements.txt (line 11))
  Some externally hosted files were ignored (use --allow-external PIL to allow).
Cleaning up...
No distributions at all found for PIL (from -r requirements.txt (line 11))
Stori

[2014-02-24 13:21] daonb opened #220 "Can't assign a bill to a committee meeting"
When the committee meeting page comes up (i.e. http://oknesset.org/committee/meeting/7863/) the bill approval button is enabled. When I start keying in it becomes disabled. Seems like it should be the other way around.

[2014-03-03 07:52] #220 closed, assigned to nobody

[2014-03-11 00:24] morchickit opened #222 "Add field Vice Chairman of Knesset"
Need to add the field "סגן יו"ר הכנסת" to the appropriate MK's.
*This was a note from OKNESSET feedback suggestions.

[2014-03-31 17:58] OriHoch opened #223 "cannot comment on protocol pages loaded with infinite scroll"
the commenting (האירו) does not work on pages loaded with infinite scroll

Steps to reproduce:
1. goto: http://oknesset.org/committee/meeting/8097/#annotationform-1864318
2. scroll to the bottom
3. wait until the second page loads (should happen automagically)
4. try to comment on a section which was loaded from the second page

[2014-03-31 19:42] #214 closed, assigned to nobody

[2014-04-07 18:47] #219 closed, assigned to nobody

[2014-04-10 16:08] polinas123 opened #225 "add advanced search option - fiiter by bill/vote/commitee"
would help users to filter out relevant links when searching for a specific subject or MK

[2014-04-28 17:37] #223 closed, assigned to nobody

[2014-05-11 19:54] daonb opened #227 "Bill detail redesign"
![keneset-law-page](https://cloud.githubusercontent.com/assets/36852/2939406/0051a7ac-d946-11e3-9d67-ef8b020ee5e1.jpg)

[2014-05-14 19:39] antin opened #228 "Agenda API range return unrelated Parties and MKs"
Agenda API called with range parameter should return only MKs and Parties in that range.
like in this url : http://oknesset.org/api/v2/agenda/53/?ranges=201205-201208
Mks "משה זלמן פייגלין"  shouldn't appear because he started to work on "2013-02-05".
Party  "הליכוד – ישראל ביתנו" shouldn't appear too for the same reason.

[2014-05-20 20:32] OriHoch opened #230 "Lobbyists - add content from other sources"
Currently (after #229) we only show the lobbyists data received from knesset.

However, there is some data we can add from other sources, such as:
- Lobbyist corporation website (e.g. http://www.gilad-lobbying.co.il/)
- Lobbyist corporation description / other metadata (from the corporation's website / other sources)
- Lobbyist image / biography / other metadata (e.g. from the [relevant page on th

[2014-05-20 20:39] OriHoch opened #231 "Lobbyists - show historical data / report of changes"
Currently (after #229) we are storing in DB all the historical data of lobbyists but on the website show only the latest data.

I think the best way to display the historical data will be to have a separate page which will show a timeline of changes with details of each change.

This report could be similar to a report the Progressive Democracy Organization (העמותה לדמוקרטיה מתקדמת) is publishing

[2014-05-20 20:42] OriHoch opened #232 "Lobbyists - UX (User Experience) / UI (User Interface)"
Currently (after #229) the lobbyists display on the website is quite ugly and usability was not taken into consideration.

Also, there are no relevant personas and user stories.

[2014-05-25 19:39] OriHoch opened #233 "Lobbyists - option to provide feedback (suggestions)"
The Lobbyists data received from Knesset probably has a lot of mistakes.

We should provide an option to send feedback about the data, for the first stage it can be just textual feedback.

Should use the existing suggestions interface, for each lobbyist suggestion we should have the page (or object) for which the suggestion was sent and a textual description of the suggestion.

[2014-05-27 09:25] MeirKriheli opened #236 "Internal error on accessing https://oknesset.org/lobbyists/"
The error from the traceback:

[code]

[2014-05-28 07:00] #236 closed, assigned to nobody

[2014-05-31 14:47] antin opened #237 "Agenda's Scores are different in the API and in the regular page"
Look at Mks "משה זלמן פייגלין"
in agenda 41 he has the score  28%
http://www.oknesset.org/agenda/41/?all_mks
but in the regular pages he has the score 4%
http://www.oknesset.org/agenda/41/member/885/
http://www.oknesset.org/member/885/%D7%9E%D7%A9%D7%94-%D7%96%D7%9C%D7%9E%D7%9F-%D7%A4%D7%99%D7%99%D7%92%D7%9C%D7%99%D7%9F/
and the score in the API is 27.5%
http://oknesset.org/api/v2/agenda/41/?range

[2014-06-02 16:52] OriHoch opened #240 "Lobbyists - Aggregate links related to lobbyist / lobbyist companies"
On the lobbyist or lobbyist company page we can show links related to them.

For example:
[link 1](http://progdemocracy.com/2013/07/06/%D7%94%D7%93%D7%95%D7%97-%D7%A2%D7%9C-%D7%A4%D7%95%D7%9C%D7%99%D7%A1%D7%99-%D7%91%D7%A2%D7%9E-%D7%97%D7%9C%D7%A7-%D7%A8%D7%90%D7%A9%D7%95%D7%9F/)
[link 2](http://progdemocracy.com/2013/11/04/%D7%91%D7%95%D7%95%D7%A2%D7%93%D7%AA-%D7%94%D7%9B%D7%A1%D7%A4%D7%99%D7%9D-

[2014-06-02 20:26] #210 closed, assigned to nobody

[2014-06-16 09:21] #233 closed, assigned to nobody

[2014-06-16 17:18] orishahori opened #243 "Seperate between different bills"
For example in this page - http://oknesset.org/bill/4947/
Each different bill should have its own page. Only similar bills should be unified in one page.

[2014-06-16 17:26] orishahori opened #244 "Create "act timeline pages""
Act Timeline page organizes different reform bills and committee meetings that are related to a specific act, by date, from the newest to the oldest, showing the design and redesign process of the law over the years.

You can build these pages by nesting the bills' diagrams one after the other along the page.

[2014-06-18 19:37] OriHoch opened #246 "Lobbyists - link to committee meeting"
We can detect all attendee names from the committee meeting protocol. In those names we should detect lobbyist names and then link them to each lobbyist's page

Some more information:

יש מספר חברות לובי גדולות (למשל פוליסי או גורן עמיר) שמייצגות חברות קטנות יותר (נניח סלקום או בנק פועלים וכ"ו).
בסדר זמנים של הישיבות מופיעים אלו שדלנים יהיו באיזו ישיבה אך אין אינפו' לגביי איזו חברה הם מייצגים וזהו

[2014-06-23 16:31] #189 closed, assigned to nobody

[2014-07-06 01:07] elazarg opened #254 "Remove wild import from mks/models.py"
`import` for side-effect is code smell.
Wild imports are bad idea: They can easily cause name clashes and bugs, and hinder readability.
Wild imports at the bottom of the file are worse. This has no positive effect on name-clashes, but has negative effect on the readers' ability to see and be aware of this potential.

Wild import with side-effect at the bottom of the file are simply not sensible. I

[2014-07-09 06:51] OriHoch opened #257 "No plenum protocols since May 21, 2014"
This is the last plenum protocol we have:
http://oknesset.org/plenum/9031/

After that one there are no protocols:
http://oknesset.org/plenum/9055/

The protocols are available on Knesset website, I think they changed the html there:
http://www.knesset.gov.il/plenum/heb/plenum_queue.aspx

If we are going to fix this process might also move it to the okscraper framework so we have better error repo

[2014-07-09 13:01] OriHoch opened #258 "add data from or link to shituf.gov.il"
www.shituf.gov.il is a gov platform for discussions about bills, we might be able to link to this platform from open knesset in the relevant bills / votes / ?

maybe we can show voting results from this site on open knesset, or show other data

for example:
http://www.shituf.gov.il/discussion/825

[2014-08-11 17:11] #204 closed, assigned to nobody

[2014-08-11 17:35] #246 closed, assigned to nobody

[2014-08-11 18:03] #227 closed, assigned to daonb

[2014-08-11 20:13] uda opened #261 "Add a feed for upcoming events for the next 72 hours"
Aside to /api/event/icalendar/ add /api/event/feed/ containing the upcoming events for the next 72 hours, so it can be used in aggregation / alert systems.
format: atom or rss

[2014-08-12 12:17] ofri opened #262 "design and implement a visualization for awards and convictions"
each member has a set of Awards (or convictions, that are represented as awards with negative valence). Need to design and implement a view that presents some interesting statistics with this data.

[2014-08-12 18:32] habeanf opened #263 "Add function that returns relevant mks for a list of time ranges"
In the mks app, for the Member model create a new MemberManager that inherits from BetterManager and has a function mks_during_range(ranges=None) where ranges is a list of datetime pairs (the pairs are a list too), returning a list of Members that were a member of the knesset during any of the ranges.
Use the Membership model for start and end dates of mk membership in parties.
Notes:
- if the ran

[2014-08-12 18:37] habeanf opened #264 "Add function that returns relevant parties for a list of time ranges"
In the mks app, for the Party model create a new PartyManager that inherits from BetterManager and has a function parties_during_range(ranges=None) where ranges is a list of datetime pairs (the pairs are a list too), returning a list of Party that were a party of the knesset during any of the ranges.
Use the Party start and end dates of party "existence" in a knesset.

**Please verify manually tha

[2014-08-12 19:20] #182 closed, assigned to nobody

[2014-08-29 11:15] #237 closed, assigned to nobody

[2014-09-08 07:22] #257 closed, assigned to nobody

[2014-09-10 09:41] daonb opened #265 "Extend person's Role model to include past roles"
Add a start_date and end_date to the Role model and make sure the roles are displayed properly in the member and person detail page.

[2014-09-12 05:58] starkoracles opened #266 "Error when first running migration on dev.db"
django.db.utils.OperationalError: no such table: auxiliary_tagsynonym

Workaround:
comment auxiliary/api.py:76-82
and run

[2014-09-25 12:41] #266 closed, assigned to nobody

[2014-10-16 16:00] OriHoch opened #272 "On MK page - show plenum presence in a separate box"
Currently, on MK page the plenum presence is displayed inside the committee meetings box - need to move it out into a dedicated plenum box.

[2014-10-21 07:36] #272 closed, assigned to nobody

[2014-10-25 08:57] ydaniv opened #274 "Add a link in the docs on ReadTheDocs to the API docs"
Yezus!

[2014-10-26 07:08] daonb opened #278 "Order the committees based on mks gender attending meetings"
the `male_presence` and `female_presence` should be added to the committee API and the main communittees page should be ordered according to gender presence with female as the default.

[2014-10-26 07:50] daonb opened #279 "Support a Person's calendar"
Folliwng discussion with Tomer Avital, we want to offer the MKs the ability to publish their shared calendar in Open Knesset. We can assume the MKs are using google calendar and the URL of the calendar will be entered through the admin interface.
We need to store the URL and display the calender on the MKs page.

[2014-10-27 11:05] antin opened #280 "Add some fields like average_weekly_presence_hours to member's API"
User expected to use the export button for checking data like  average_weekly_presence_hours,mmms_count,bills_stats_first,bills_stats_proposed
those fields not appears using the link of the export button:
https://oknesset.org/api/v2/member/?&format=csv&limit=0
but they appears in the particular member's API like:
https://oknesset.org/api/v2/member/864/?&format=csv&limit=0

Thanks, Alon

[2014-11-09 09:32] #138 closed, assigned to nobody

[2014-11-27 11:07] OriHoch opened #285 "Integrate committee meeting summaries from our users"
We should provide an interface to let users add summaries of committee meetings.

The social guard (המשמר החברתי) is publishing summaries of committee meetings, perhaps we can integrate them in some way inside open knesset.

It could provide interesting data we can use, for example, the list of attendees which they reported, or to scan the text for mentions of some key words.

example: http://hami

[2014-12-01 15:23] OriHoch opened #286 "publish a public google calendar with all MK (or other) events"
After #279 we have calendars of MKs - we can publish a public google calendar that will show all the events from all MKs in one calendar.

[2014-12-06 09:25] OriHoch opened #288 "Content task - add metadata for lobbyists and lobbyist corporation"
After #230 we have the ability to manually add metadata for lobbyists.

Need a content editor to go over lobbyists and corporations and add data (via the admin interface)

In the django admin we have lobbyists and lobbyist corporations - that's where you can add the data.

The best way to do it is as follows:
1. Go to: http://oknesset.org/lobbyists/
2. For each corporation, search google for the c

[2014-12-06 19:13] OriHoch opened #289 "Lobbyists - some pages take a long time to load"
Some lobbyist pages take a long time to load - there is caching but when you access it for the first time it can take more then 10 seconds to load which is too long (it can also harm SEO)

A possible solution is to warm up the cache when doing the scraping.

[2014-12-07 08:33] daonb opened #290 "Rmove api v1 docs"
Googling for "Open Knesset API" brings up a link to the old docs.

[2014-12-14 21:30] ohadcn opened #292 "add consistency meter to parlament member"
enable measuring the consistency of parlament members - how did they change their mind when the same issue came on for voting again and again.

[2014-12-15 17:20] Tudmotu opened #294 "Can't Login Using Github"
In http://oknesset.org, when trying to login using github, an error page appears.

Reproduce:
0. You'll need to be logged-out of the system first
1. Go to http://oknesset.org
2. Locate the "Login" button at the top left corner, and click on it:
![image](https://cloud.githubusercontent.com/assets/506487/5440165/b9e1d6da-848e-11e4-9f53-ed67373c6af2.png)
3. In the login page, locate the 'Login using

[2014-12-15 18:14] OriHoch opened #295 "Add person job titles"
Should allow to track Person's job titles.

For example, id you go to יולי אדלשטיין in the knesset website (http://www.knesset.gov.il/mk/heb/mk.asp?mk_individual_id_t=1) - under the פעילות בכנסת tab you can see his roles:
תפקידים בנשיאות הכנסת
כנסת 15	סגן יושב-ראש הכנסת
כנסת 16	סגן יושב-ראש הכנסת
כנסת 17	סגן יושבת-ראש הכנסת
כנסת 19	יושב-ראש הכנסת*

We should reflect this in Open Knesset as well.

[2014-12-15 18:33] #230 closed, assigned to nobody

[2014-12-16 18:26] #294 closed, assigned to nobody

[2014-12-16 21:17] Tudmotu opened #297 "Widen Auto-Complete Dropdown in the "Attach Vote" Boxes in Bill Pages"
The autocomplete dropdown that display in the Bill page when trying to link a vote, is very narrow and hard to work with.

Maybe it should be wider?
![image](https://cloud.githubusercontent.com/assets/506487/5462116/95e49664-8579-11e4-9e26-3c7a4cef5417.png)

(if so, can I claim this?)

[2014-12-22 18:45] #105 closed, assigned to nobody

[2014-12-22 18:47] #108 closed, assigned to nobody

[2014-12-22 18:56] #109 closed, assigned to nobody

[2014-12-22 19:20] #127 closed, assigned to nobody

[2014-12-22 19:29] #151 closed, assigned to morchickit

[2014-12-22 19:45] #165 closed, assigned to nobody

[2014-12-22 19:48] #168 closed, assigned to nobody

[2014-12-22 19:52] #173 closed, assigned to nobody

[2014-12-22 19:59] #180 closed, assigned to nobody

[2014-12-22 20:03] #181 closed, assigned to nobody

[2014-12-22 21:15] #183 closed, assigned to nobody

[2014-12-23 08:31] #265 closed, assigned to daonb

[2014-12-25 13:25] CarbonFixer opened #298 "Add option to see coreelations between the user's personal votes and MK votes"
Currently you are able to "vote" on proposed legislation and mark yourself as for or against it.
There is also an option to see the votes history for each member of the Knesset.
I propose having a page available for each user that will enable him to see correlations between his votes and each MK's vote.
This is similar to what is currently done with agendas, but more personalised and does not requ

[2014-12-29 17:27] #124 closed, assigned to MeirKriheli

[2014-12-29 17:30] #132 closed, assigned to nobody

[2014-12-31 17:32] guysoft opened #299 "Adgenda graphs are stuck at loading data"
If you open the adgenda pages, where a graph is expected a message "טוען נתונים..." is shown and stuck.
Example link:
https://oknesset.org/agenda/74

Screenshot:
![Image of failure to load](http://i.imgur.com/mtUPhlb.png)

Tested on Firefox 34 and Chromium 39.0.2171.65 Ubuntu 14.10

[2015-01-01 11:10] #290 closed

[2015-01-01 11:28] shayh commented on #299
submitted a pull request:
https://github.com/ydaniv/ok-agenda-viz/pull/38

[2015-01-02 11:25] MeirKriheli commented on #274
This is already done, closed in commit 80006f40fa8f673323c81da01e580219e16571a2,

[2015-01-02 11:25] #274 closed

[2015-01-28 11:49] daonb opened #307 "Publish a list of candidates in the coming election"
Using the persons API, the user will be able to get the list of candidates bu using the URI: //api/v2/person/?fomrat=json&roles__org=%D7%91%D7%97%D7%99%D7%A8%D7%95%D7%AA%20%D7%9C%D7%9B%D7%A0%D7%A1%D7%AA%20%D7%94%2020 (for those who don't read encoded URLs, the URI ends with `org=בחירות לכנסת ה 20`)
The persons API needs to support filtering by the roles fields.

[2015-02-02 17:51] OriHoch opened #311 "Election candidates cleanup"
After the parse_candidates management command runs it might create duplicate persons, for example - אביגדור ליברמן and ליברמן אביגדול
need to go over the persons and merge duplicates

[2015-02-02 20:01] tobyk100 commented on #222
Similar to https://github.com/hasadna/Open-Knesset/issues/295

[2015-02-04 07:52] RivkaLavi opened #312 "Account Recovery"
There is no way to recover the username

[2015-02-04 08:01] RivkaLavi opened #313 "Text Enlarger"
Need to add a menu for enlarge text

[2015-02-04 15:28] daonb commented on #307
why is it open?

[2015-02-04 15:33] daonb opened #315 "Support 3rd Party data in Person"
We are getting info from The Marker and 100 days of transparency and since it's *soft* data it is important to store the source of the info and the creation & update date.  I'm thinking of a new model that has a one-to-many pointer to person, key name, value, source and the dates.
It's important to make the new data available in the admin and in the API

[2015-02-05 10:39] RivkaLavi opened #316 "Add title to the google search form action"
add title="google search" in google search form action  (So that users of Assistive technologies would understand the meaning of the form)

[2015-02-05 21:46] daonb opened #319 "Extend the parse_candidate managment command"

[2015-02-07 14:02] brafdlog opened #320 "Add api to get all members detailed data"
Currently it isn't possible to get detailed information for multiple members or parties in one call.
I want to get detailed data for all the members and parties.
Calling get on the members path returns only basic information so I am forced to loop over each member and call get on that specific member, but that causes an exception of too many requests.
Can you add a parameter to the get members and

[2015-02-10 18:41] antin opened #322 "User can't add new tag"
When user try to add a new tag and try to click on
"לחצו כאן להצעת תגית חדשה"
nothing happen.

[2015-02-18 19:45] OriHoch opened #323 "static assets sometimes don't load (getting 404)"
if I click refresh a few times, it seems like 50% chance that some assets won't load

![image](https://cloud.githubusercontent.com/assets/1198854/6255224/262452d6-b7b7-11e4-9f2d-05ce14afe10a.png)

[2015-02-18 19:49] OriHoch commented on #323
ori@ori-work-laptop:~$ wget https://oknesset.org/static/js/jquery-1.8.3.min.js.pagespeed.jm.0IhQ85x_cu.js
--2015-02-18 21:46:54--  https://oknesset.org/static/js/jquery-1.8.3.min.js.pagespeed.jm.0IhQ85x_cu.js
Resolving oknesset.org (oknesset.org)... 176.34.229.160, 2a01:578:3::b022:e5a0
Connecting to oknesset.org (oknesset.org)|176.34.229.160|:443... connected.
HTTP request sent, awaiting response

[2015-02-18 20:41] habeanf commented on #323
It's because page speed isn't enabled on both servers.

Will talk to meir about it

On Wed, Feb 18, 2015 at 9:49 PM, Ori Hoch <notifications@github.com> wrote:

[2015-02-20 06:45] OriHoch opened #324 "monitoring to detect problems"
We have a lot of issues which are detected by our users. We should have a process that monitors, looks for problems and sends alerts.

Example of problems this process might detect:
#323
Scraper errors
http://forum.hasadna.org.il/t/topic/437

[2015-02-20 11:47] Ajar-Ajar opened #325 "Text overlaps profile images - attendees in committees debates"
![screen shot 2015-02-20 at 1 45 04 pm](https://cloud.githubusercontent.com/assets/2492303/6285658/f5f6ba44-b906-11e4-8360-fa922bfa2fbc.png)

[2015-02-20 14:20] RobotnickIsrael commented on #193
I'll start working on it. I'm a begginer so it will take a while :P

[2015-02-21 16:46] lidermanrony commented on #172
Currently the query parameters that the view is using for filtering are somewhat abstract, in the sense that they are not directly translated to django orm language.
For example, to control the date range the query parameters used are from_date and to_date whereas the actual data model be something like time__gte and time__lte.

This fact causes custom logic to be written in the views and the API

[2015-03-02 18:31] MeirKriheli commented on #323
For now disabled mod_pagespeed on both servers.

[2015-03-02 18:31] #323 closed

[2015-03-02 18:32] MeirKriheli commented on #316
Do you want it on the input field itself ?

[2015-03-02 18:32] #325 closed

[2015-03-02 19:52] RivkaLavi commented on #316
Yes

[2015-03-05 00:28] daonb opened #331 "Update Member and Person facebook link"
Below is a table we got from Hakikar with facebook links. We need to update `Member` and when no member, find or create a `Person` based on the name. Polyorg is depracted :-(
https://drive.google.com/file/d/0B1rAe9zy7m-PU2hjY3c2QU1BbGgwYXR0VnpxdTFQck1WclVN/view?usp=sharing

[2015-03-16 21:34] OriHoch opened #332 "lobbyists represents data - model improvements"
currently we try to have a lobbyist represents objects which could be shared between lobbyists

for example -
https://oknesset.org/lobbyist/90
https://oknesset.org/lobbyist/118
both these lobbyists represent ועד עובדי סלקום
ideally we want an object for ועד עובדי סלקום
this object has some more fields which we don't show
but the represents object might be duplicated twice because it has a differen

[2015-03-22 13:12] daonb opened #334 "minus sign at parties by committee presence page"
https://oknesset.org/party/by/committees/

![image](https://cloud.githubusercontent.com/assets/36852/6769472/c65644ce-d0a5-11e4-9b04-b66ca21c7d45.png)

[2015-04-20 17:18] iddoberger commented on #172
I think this issue is resolved.
The CSV I downloaded from the url provided gives only results from the desired dates

[2015-04-20 21:25] antin opened #336 "add new field to the agenda's admin"
Hi,

Please add new field to the agenda's admin : "infogram_url"
and expose it where needed.

Thanks,
Alon

[2015-04-27 16:17] noamelf commented on #159
I'm on it

[2015-04-27 16:24] OriHoch commented on #184
should do design first, then split it into smaller more manageable development issues

[2015-04-27 16:31] #299 closed

[2015-04-27 17:02] iddoberger commented on #322
I'm on it.

[2015-05-04 19:39] OriHoch opened #337 "load data for knesset 20 members"

[2015-05-04 19:41] OriHoch commented on #337
* >>> from simple.management.commands.syncdata import Command
* >>> Command().get_members_data(min_mk_id=668)
* >>> Command().update_members_from_file()

[2015-05-05 07:48] daonb commented on #337
I'm on it, running it on db1.oknesset.org

[2015-05-05 08:40] daonb commented on #337
Done.

[2015-05-05 08:40] #337 closed

[2015-05-05 08:41] daonb opened #340 "Add min_mk_id parameter to get_member_data command"
So we won't have to go through #337 again

[2015-05-05 11:04] OriHoch opened #341 "update member - party relationship for knesset 20"
members of knesset 20 should have current part field pointing to the party at knesset 20

currently they have party at knesset 19, or no party..

this can be done manually - in the admin - search for member name - edit - change current party field - save

or - can write a script to do it (maybe even from django shell)

[2015-05-06 12:34] daonb commented on #341
I've updated the `current_party` and the site shows now 100 MKs.
Seems like there were only 100 MKs in the system:

  100

Any ideas?

[2015-05-06 17:32] OriHoch commented on #341
there are MKs which don't have any value in current_party field

and also some that don't belong to a party

(if current_party field is set - still need to set relation to party object separately..)

:disappointed:

[2015-05-06 17:34] OriHoch commented on #341
examples:

party without all mk relations: https://oknesset.org/admin/mks/party/32/

mk without current_party relation: https://oknesset.org/admin/mks/member/941/

there is some code that does those relations but it might need some adjustments to work with knesset 20

[2015-05-09 20:20] #307 closed

[2015-05-09 20:26] daonb opened #342 "Displat a Presence Summary for the previous knessets"
Came as a request from Tomer:

אגב- אני צריך את הנוכחות של נתניהו במשכן בכנסת ה-19
אי אפשר לראות את זה בכנסת פתוחה!! אי אפשר לראות את הנוכחות של ח״כים בכנסת ה-19. זה חבל מאוד
אני צריך לינק לדף עצמו כדי לעשות צילום מסך של הנוכחות של נתניהו בכנסת (לא את הנתון). אפשרי?

[2015-05-10 06:44] OriHoch commented on #341
I updated everything manually

[2015-05-10 06:44] #341 closed

[2015-05-10 06:45] OriHoch opened #343 "make sure all knesset 20 members and party relationships are correct"
all members and parties should be updated for knesset 20 - need to make sure we are showing the correct parties / members infromation..

[2015-05-13 09:21] daonb commented on #172
Checked the link and it seems find. @ofri can we close?

[2015-05-13 09:56] daonb commented on #186
I just added some tags to https://oknesset.org/bill/8866/ and there was no need to approve. What am I missing?

[2015-05-14 12:25] OriHoch commented on #186
try to add a tag that doesn't exist (write some random text and click "add")

[2015-05-18 06:35] daonb commented on #343
וגם המיקומים לא נכונים

[2015-05-18 06:37] daonb commented on #336
I suggest to add a connection to Link

[2015-05-18 06:40] daonb commented on #332
polyorg app can be used to represent the organizations that do lobbing

[2015-05-18 06:46] daonb commented on #312
When you click on 'שכחת ססמא' it lets you input the email address. what's missing?

[2015-05-18 06:47] daonb commented on #311
The Person admin interface has an action to merge persons so it can be fixed through the admin

[2015-05-18 06:53] daonb commented on #297
@ofri can you close this?

[2015-05-18 06:54] daonb commented on #295
Person app has a Role model just for that.

[2015-05-18 06:57] #289 closed

[2015-05-18 07:01] daonb commented on #280
related to #320

[2015-05-18 07:10] daonb commented on #195
looks like it's only in the admin and tests

[2015-05-18 07:10] RivkaLavi commented on #312
It's great now.

[2015-05-18 07:24] daonb opened #345 "Redesign the MKs page"
It's about time we refresh the design: better display the feed of activity #184 , summary of presence in the current and previous Knesset #342, better display of contact and personal information, awards and convictions #262

[2015-05-18 07:35] daonb commented on #177
@nirfuzz how is it going?

[2015-05-18 07:36] #176 closed

[2015-05-18 07:39] #312 closed

[2015-05-18 07:44] daonb commented on #174
How about we change it to a link to: https://www.google.com/search?hl=iw&gl=il&tbm=nws&authuser=0&q=%22%D7%9B%D7%A0%D7%A1%D7%AA+%D7%A4%D7%AA%D7%95%D7%97%D7%94%22&oq=%22%D7%9B%D7%A0%D7%A1%D7%AA+%D7%A4%D7%AA%D7%95%D7%97%D7%94%22&gs_l=news-cc.3..43j43i53.4388.7636.0.7885.16.8.0.8.0.1.270.928.5j2j1.8.0...0.0...1ac.1.0qqB4cVmYmM
?

[2015-05-18 08:00] daonb commented on #142
I'll try and re-design : the member page should contain a link to http://oknesset.org/bill/?member=XXX so the user can easily filter the MKs proposals.
To do this we need to change the bill page so it remembers the current filter. Today, when I start with MKs proposals and try to filter them further I lose the MK filter.
Will be done as part of #345.

[2015-05-18 08:00] #142 closed

[2015-05-18 08:00] #120 closed

[2015-05-18 08:01] daonb commented on #107
@habeanf you're working on this one too?

[2015-05-18 12:01] daonb commented on #342
Using PIL, I created an image for Bibi for the previous Knesset.  I've taken the 77 weeks we have data for and draw a line of 5 pixels per week. The color of the line is based on how many hours Bibi was at the Knesset in that week - the more hours the stronger the blue.
![bibi_19](https://cloud.githubusercontent.com/assets/36852/7680322/e61fec20-fd6d-11e4-8290-4edb29430952.png)
I've started workin

[2015-05-18 12:46] habeanf commented on #342
Cool :+1:

[2015-05-25 08:41] habeanf commented on #107
Yes

[2015-05-28 12:08] #169 closed

[2015-05-28 12:18] daonb commented on #295
As the data about gov roles is already parsed and stored in `Role` models by the `update_gov_roles` command, this is a UI change and should be done as part of #345

[2015-05-28 12:18] #295 closed

[2015-05-28 12:27] daonb commented on #177
Also need to fix a bug - the current kneseet active mks include past mks:
![active mks](https://cloud.githubusercontent.com/assets/36852/7860006/1cda6ff0-054e-11e5-9470-d653664eb3e7.png)

[2015-05-28 13:13] daonb opened #347 "Tag detail page should be split into Knessets"
The [tag page](https://oknesset.org/tags/%D7%AA%D7%97%D7%91%D7%95%D7%A8%D7%94%20%D7%A6%D7%99%D7%91%D7%95%D7%A8%D7%99%D7%AA/) should show only items in the current Knesset and should have links to the same view for previous Knessets.

[2015-05-31 04:58] OriHoch opened #349 "Lobbyist represents companies should be displayed in Hebrew.."
https://oknesset.org/lobbyist/73

Currently - there are question marks.. (It worked in the past)

[2015-06-01 17:32] OriHoch opened #350 "minor improvements to committee meetings list on tag page"
###  Reproduction Steps
* goto a tag page (like [this one](https://oknesset.org/tags/%D7%91%D7%98%D7%97%D7%95%D7%9F%20%D7%A4%D7%A0%D7%99%D7%9D/))
* look at the component that displays the committee meetings list

#### Expected
1. when hovering with the mouse cursor over a committee meeting everything gets an underline, including the ocmmittee name and the date, which looks kinda weird (on other li

[2015-06-01 17:32] OriHoch commented on #350
@daonb  - FYI..

[2015-06-01 18:26] #177 closed

[2015-06-05 13:23] habeanf opened #353 "Change google auth to OAuth 2.0 (OAuth 1.0 is no longer supported)"
When trying to use google auth to login, redirected to this page:
https://support.google.com/a/answer/6224347?p=oauth&rd=1

[2015-06-05 13:24] habeanf commented on #353
When trying to use google auth to login, redirected to this page:
https://support.google.com/a/answer/6224347?p=oauth&rd=1

[2015-06-05 13:28] habeanf commented on #322
Apparently this has been fixed

[2015-06-05 13:28] #322 closed

[2015-06-05 16:20] habeanf commented on #297
This issue no longer exists, must have been fixed

[2015-06-05 16:20] #297 closed

[2015-06-05 16:22] habeanf commented on #334
@daonb We can't replicate this, maybe it's "fixed" for Knesset 20 data?

[2015-06-06 06:22] #316 closed

[2015-06-06 06:53] OriHoch opened #355 "annotations from protocols on mk page should be displayed nicely"
after #193 - we are showing annotations on the mk page

**but** - it is ugly.. need to show them in a nice way...

[2015-06-06 06:54] OriHoch commented on #263
what's the use-case? where is this function going to be used?

[2015-06-06 06:56] Shrulik commented on #313
I will work on this.

[2015-06-06 06:57] OriHoch commented on #349
strange, doesn't reproduce now.. but I promise it happened! need to investigate..

[2015-06-06 07:16] OriHoch commented on #353
Seems like this doesn't require any code change, only configuration

relevant links:
http://psa.matiasaguirre.net/docs/backends/google.html#google-oauth2
https://developers.google.com/identity/protocols/OAuth_ref#migration

[2015-06-06 08:33] #193 closed

[2015-06-06 08:39] daonb commented on #353
I have an `oknesset` project is my google console, but it doesn't look like we're using it.

@ofri you probably have to help us

[2015-06-06 09:41] habeanf opened #356 "Plenum not updated in production since July 2014"

[2015-06-06 10:22] jspan opened #358 "migrate youtube api v2 to v3"
The youtube v2 api was recently retired.
so calls with https://gdata.youtube.com/feeds/api/videos... no longer work.

http://youtube-eng.blogspot.co.il/2015/03/dude-are-you-still-on-youtube-api-v2.html

See migration guide:
https://developers.google.com/youtube/v3/guides/implementation

[2015-06-06 10:26] habeanf opened #359 "Add Google OAuth 2.0 User Authentication"

[2015-06-06 10:27] habeanf commented on #353
So apparently this is not the issue we thought it was, because we don't even have oauth 1.0 configured.
I assume we redirect to an oauth 1.0 endpoint and get the deprecation notice before the api sees an empty key/token. Closing this, opened #359 to add google oauth2.0

[2015-06-06 10:27] #353 closed

[2015-06-06 11:44] #202 closed

[2015-06-06 13:53] OriHoch opened #363 "problems with bills initiated in multiple knessets"
# https://oknesset.org/bill/3697/ -  in the initiation stage - you can see multiple dates of initiation. Click on the last one (June 1, 2015) - see 5 members. But on the bill page itself - you can see more (this is aggregation from all initiations
# https://oknesset.org/member/by/bills_approved/ - see a lot of approved bills, but no bills were approved during this knesset! These are bills approved

[2015-06-07 05:02] OriHoch commented on #159
is this issue done? where is the pull request that fixes it?

[2015-06-07 05:10] OriHoch opened #364 "content task - set tag synonyms"
we have many duplicate tags with different spellings, for example:
* https://oknesset.org/tags/%D7%91%D7%99%D7%98%D7%97%D7%95%D7%9F/
* https://oknesset.org/tags/%D7%91%D7%98%D7%97%D7%95%D7%9F/

Need to go over tags admin and set synonyms

### How to set tag synonyms

#### Pre-requisites
* ask an admin for access to django admin - tags & tags_synonyms tables
* ask an admin for tagging.add_tag permi

[2015-06-07 06:19] noamelf commented on #159
I think Amir might have worked on it...

On Sun, Jun 7, 2015 at 8:02 AM Ori Hoch <notifications@github.com> wrote:

[2015-06-07 08:03] habeanf commented on #159
Haven't worked on it but I should :disappointed:

[2015-06-07 09:38] daonb opened #365 "Add an explanation on how to get invited to a committee meeting"
(based on a [facebook status](https://www.facebook.com/talgoldman6/posts/10152932085611099) from tal goldman )

Need to add a short explnation on each committee page on how users can get an invitation to a meeting. Contact information is available [here](http://www.knesset.gov.il/committees/heb/tel_vaadot.asp)

[2015-06-07 12:11] OriHoch commented on #159
no problem, just on huboard it was in Done status.. moved back to working

[2015-06-07 16:48] noamelf commented on #365
That's a great idea !
On יום א׳, 7 ביונ 2015 at 12:38 benny daon <notifications@github.com> wrote:

[2015-06-10 06:21] OriHoch opened #368 "improvements to text enlarger buttons"
possible improvements to the text enlarger buttons which were introduced in #367 / #313

* the enlargement steps seems a bit too big to me (with just 2 clicks on enlarge the entire screen is full)
* currently enlargemnt is done for entire document elements - are you sure that's what was needed? I think maybe only the text should be enlarged (font-size)
* there should be minimum/maximum amount of e

[2015-06-10 06:22] OriHoch commented on #368
@Shrulik - FYI

[2015-06-10 16:11] Shrulik commented on #368
1. I agree with you, I will decrease the step size.

2. Increasing just the font size ruins the layout, I can look again, but it will probably take a serious overhaul to make the site responsive to font changes. One of the designers suggested having the ability to increases the font size on particular content like a long article and the interface would be four 'א' of different sizes, similar to ma

[2015-06-14 08:08] daonb opened #369 "When changing MK details on the admin the mk's page doesn't change"
It's due to the cache which is stored for 5 hours. Need to invalidate the `mk_[id]` cache when an editor is upodating mk's info.

[2015-06-15 17:17] habeanf commented on #153
@iTenenbaum ping

[2015-06-15 18:30] #349 closed

[2015-06-15 18:39] #225 closed

[2015-06-15 18:49] OriHoch commented on #343
done by a volunteer in hackathon

[2015-06-15 18:49] #343 closed

[2015-07-02 19:45] antin opened #372 "Add agenda's data to the bill's API"
Hi,

I need to see the agenda's data to the bill's API page as it's appears in the bill page.

Thanks,
Alon

[2015-07-06 18:26] MeirKriheli commented on #368
Looks like this is not working on firefox

[2015-07-09 17:59] Shrulik commented on #368
Interesting, it used to work. I will check it out.

[2015-07-13 19:43] Liortabori opened #373 "Locating which committee is working on bills in case they didn't start working on it"
Hi all!
I'm interested in improving the ability to understand the legislation process. One of the missing info today is that a bill that is 'In Committee' but there were no discussions yet its impossible to know which committee is working on it.

[2015-07-14 01:49] otadmor commented on #372
i am working on it.
currently i have no permission to push my changes. will be pushed asap :-)

ofir.

[2015-07-15 11:43] habeanf commented on #372
@otadmor Please open a merge request (MR)

[2015-07-15 11:44] habeanf commented on #372
@otadmor Also, please reference this issue in the commit

[2015-07-21 15:43] habeanf opened #377 "Selenium tests are failing"

[2015-07-27 16:41] #280 closed

[2015-07-27 16:43] habeanf commented on #320
@brafdlog we've added data on members

[2015-07-27 16:43] #320 closed

[2015-07-27 17:03] brafdlog commented on #320
Thanks!

[2015-07-27 23:04] otadmor commented on #347
Im working on it and i have a question.
The Vote model has both meeting_number and bills_pre_votes/bills_first/Bill.objects.filter(approval_vote=self)
Bills have some proposals (which each one of them have a knesset_id) and first_committee_meetings/second_committee_meetings.
The questions are:
1) Should the link from knesset_id to Vote should be Vote.[bills_pre_votes/bills_first/Bill.objects.filte

[2015-07-30 13:07] daonb commented on #347
@ofri can you take a look?

[2015-07-30 13:08] daonb commented on #347
@ofri can you have a look? I'm having fun in France and won't be back till the 11th

[2015-08-10 16:46] habeanf opened #379 "plenum scraping process should deal properly with knesset returning 404 error"
Some protocols are not available: https://oknesset.org/plenum/10216/

[2015-08-10 18:48] OriHoch commented on #377
looks like the reason is problems with the dev db

seems that agendas migration 0014 is marked as run - but the actual DB schema changes do not exist..

currently, to get dev.db into working condition you have to do the following:
./manage.py migrate agendas 0013
./manage.py migrate agendas

this solves all the problem and then selenium tests run as well

[2015-08-10 18:48] #377 closed

[2015-08-10 19:14] OriHoch commented on #379
if I run the following command locally, it adds all the missing protocols:

./manage.py parse_plenum_protocols --download --parse

this command is supposed to run in a cronjob on the server

so:

1. please check if the job is scheduled, and when does it run
2. try to run it with -v2 parameter to get debugging info and see if there is a problem

[2015-08-17 17:17] OriHoch commented on #372
@otadmor @DanaOshri
Are you working on it?
Please update regarding status of this issue, thanks.

[2015-08-17 17:18] OriHoch commented on #368
@Shrulik - please update regarding status of this issue

[2015-08-17 17:26] OriHoch commented on #209
pull request was merged, I will assume issue can be closed..

[2015-08-17 17:26] #209 closed

[2015-08-17 17:31] OriHoch commented on #356
duplicate of #379

[2015-08-17 17:31] #356 closed

[2015-08-17 17:32] OriHoch commented on #363
@noamelf - what's the status of this issue? thanks..

[2015-08-17 17:51] OriHoch opened #380 "connect the feedback suggestions to forum.hasadna discourse"
The problem:
We get about 1-2 suggestions per week but no one notices them and no one responds to them

The solution:
Every suggestion will open a message in the hasadna discourse (forum.hasadna) on a special category (e.g. Open Knesset Feedback)
Users that wish to follow the feedback messages can subscribe to that category

Bonus points:
Send the user who opened the feedback message a link to the

[2015-08-17 22:49] otadmor commented on #372
My changes have been pushed to the Sadna's tree from my tree about a month ago.

[2015-08-18 04:06] OriHoch commented on #372
Great, thanks

[2015-08-18 04:06] #372 closed

[2015-08-21 09:39] OriHoch opened #382 "duplicate plenum meetings"
there are duplicated meetings:
https://oknesset.org/plenum/9875/
https://oknesset.org/plenum/9885/

notice that the protocol is exactly the same, only noticable difference is in the title:
ישיבת מליאה מתאריך 20/05/2015
ישיבת מליאה מתאריך 20/5/2015

on has month as 05 and one as 5 (without 0)

[2015-08-21 09:43] OriHoch commented on #379
The reason is that the plenum scraping process fails when knesset returns 404 page for a plenum file:

The failure occurs when running antiword on the html error page - in that case antiword returns an error that file is not a word document - and we raise an exception in that case so that entire scraping process stops.

2 things should be fixed here:

1. detect 404 error and ignore that meeting (t

[2015-08-21 22:14] morchickit opened #384 "Missing MK's in committees pages"
In the Aliya Committee, Open Knesset shows 7 parliament members, while there are 9 on the Knesset website. In addition, Robert Ilatov, who is not part of the committee is shown as a part of the committee. http://main.knesset.gov.il/Activity/committees/Immigration/Pages/CommitteeMembers.aspx
compare to -
https://oknesset.org/committee/3/

@OriHoch - any idea why this is happening? Having false data

[2015-08-21 22:24] morchickit opened #385 "Irrelevant bill in committee"
This bill at the Aliya Committee  -
https://oknesset.org/committee/meeting/10220/

https://oknesset.org/committee/meeting/10220/

@OriHoch - any ideas why?

[2015-08-21 22:42] morchickit opened #386 "Can't add lobbyist to committee protocols"
הלוביסטית נמצאת בפרוטוקול, אך לא ניתן להוסיפה ידנית:
לוביסט (ברדוגו יועצים), מייצג את פורום כפרי נוער ופנימיות

ויאולטה קורוטין

https://oknesset.org/committee/meeting/10034/

[2015-08-22 11:38] morchickit opened #387 "Need to mark sub-committee"
Here is an example to a sub committee on fire issues at the Pnim committee -
https://oknesset.org/committee/meeting/10181/

It got a different markings in the protocols as well

[2015-08-22 20:08] morchickit opened #388 "Remove the following committees from the 20th Knesset"
הוועדה המשותפת לנושא סביבה ובריאות
ועדה מיוחדת לדיון בהצעת החוק בעניין השוויון בנטל בשירות הצבאי, בשירות האזרחי ובשוק העבודה ולהסדרת מעמדם של תלמידי הישיבות
ועדה מיוחדת לבעיית העובדים הזרים

[2015-08-22 20:09] morchickit opened #389 "No content in the special committee for preventing drugs use"
https://oknesset.org/committee/16/

אולי כי שינו לה את השם ל-
הוועדה למאבק בנגעי הסמים והאלכוהול?

[2015-08-22 20:10] morchickit opened #390 "Add new committees"
הוועדה המיוחדת לדיון בהצעת חוק השידור הציבורי (תיקון), התשע"ה-2015
הוועדה המיוחדת לדיון בהצעת חוק הרשות הממשלתית להתחדשות עירונית
הוועדה המיוחדת ליישום הנגשת המידע הממשלתי ועקרונות שקיפותו לציבור

[2015-08-22 21:32] shevyk opened #391 "Can't add Eli Cohen (MK) to committee meetings"
Trying to add Eli Cohen to  https://oknesset.org/committee/meeting/10124/
leads to
משהו השתבש!

משהו שעשית גרם לשגיאה בשרת שלנו. אבל הי! אנחנו לא מאשימים אותך. להפך. עזרת לנו למצוא באג, והצוות שלנו יתפנה מייד לטפל בו. אז תודה רבה לך!

probably because there are two Eli Cohens.

[2015-08-22 21:39] morchickit commented on #391
Same with ישראל כץ....

[2015-08-23 08:06] morchickit opened #392 "Missing protocol for committee"
https://oknesset.org/committee/meeting/9868/

[2015-08-23 18:59] #379 closed

[2015-08-24 15:52] OriHoch opened #393 "committee page - should show info regarding presence data under each member name"
### reproduction steps:
* go to https://oknesset.org/committee/5/
* below each member's image - look at the presence data (נוכחות / השנה)

#### expected
* there should be some info about where this data is coming from and how it's calculated
* maybe using alt / title which will be shown on mouse hover over the relevant element

[2015-08-24 16:12] OriHoch commented on #393
the explanation:
* number of meetings member attended divided by total number of meetings
* number of meetings member attended this year divided by total number of meetings this year

[2015-08-24 16:23] OriHoch opened #394 "committee page should show also show members which attended meetings but are not members of the committee"
for example, דב חנין attended this meeting:
https://oknesset.org/committee/meeting/10268/
you can see under his image presence percentage for the committee

however, if you go to the committee page:
https://oknesset.org/committee/5/
you don't see his presence details

We should show on the committee page members which attended but are not members of the committee

[2015-08-24 16:26] OriHoch opened #395 "committee meeting page should show all members which attended meeting / appear in protocol"
a lot of meetings don't show this data

in meetings which do show it might have been added manually

[2015-08-24 16:51] noamelf commented on #373
הפרוייקט החדש של ליאור ונועם

1. להשיג נתונים לגבי השיוך של הצעות חוק לוועדות השונות. בשביל זה צריך לראות לאיזו

2. כשאנחנו יודעים לאיזו ועדה הופנה החוק אנו נשאף להציג את הדברים הבאים:

a. בהצעת החוק עצמה להציג שהיא בדיונים בוועדת הכספים (לדוגמא) אך עדיין לא

b. בדף הוועדה להציג כמה הצעות חוק הועברו אל הוועדה (במושב הכנסת הנוכחי

c. להציג את המצב והסטטיסטיקה של הצעות החוק השונות. כמה הצעות הגיעו

[2015-08-24 16:53] OriHoch commented on #384
fixed, there was a task needed to run manually

I'll open a new issue to have this task run automatically

[2015-08-24 16:53] #384 closed

[2015-08-24 16:54] OriHoch opened #396 "parse_committee_members task should run automatically"
currently the parse_committee_members task is run manually because it is very destructive - it deletes all members and adds them again

need to check what changes are required to have it run automatically

[2015-08-24 16:56] OriHoch commented on #385
in the bill page you can see it appears in several irelevant committees - https://oknesset.org/bill/6170/

I'm checking..

[2015-08-24 17:14] morchickit opened #397 "Auto complete of MK is completing ALL of the MP's from 1948"
Need to be updated only for members of the 20th Knesset.

[2015-08-24 19:44] OriHoch commented on #385
problem source is a government proposal with title of "חוק חדש" and linked law with an empty title
following are the only such laws I found:
https://oknesset.org/bill/5967/
https://oknesset.org/bill/6170/

I fixed it locally for those bills, we need to also develop a long-term solution for the future

specifically, the fix should be done in simple.management.commands.syncdata.Command.find_proposal

[2015-08-24 20:14] OriHoch commented on #390
I will fix for first 2 committees, regarding the last one -

הוועדה המיוחדת ליישום הנגשת המידע הממשלתי ועקרונות שקיפותו לציבור
- committee didn't publish any protocols yet (ironic...) and our automatic process depends on protocols to add the committee. as soon as they will have some protocols the committee should appear

[2015-08-24 20:33] OriHoch commented on #390
after fix is merged, need to see if committees displayed are correct and update if necessary..

[2015-08-31 18:00] OriHoch commented on #389
yes, that's the reason - they changed the committee name but we have the data for the new committee it's just not displayed

will be fixed in #390

[2015-08-31 18:00] #389 closed

[2015-08-31 18:01] OriHoch commented on #388
will be fixed in #390

[2015-08-31 18:01] #388 closed

[2015-08-31 18:31] #390 closed

[2015-08-31 18:35] OriHoch commented on #392
there were only 5 such meetings without protocol text, some of them from 2014.. so I just fixed it manually

these are the meetings:
https://oknesset.org/committee/meeting/10043/
https://oknesset.org/committee/meeting/9868/
https://oknesset.org/committee/meeting/9646/
https://oknesset.org/committee/meeting/9647/
https://oknesset.org/committee/meeting/8918/

I will open a new issue for a long-term

[2015-08-31 18:35] #392 closed

[2015-08-31 18:37] OriHoch opened #399 "improve committee meeting protocol scraper"
see #392 - there was a problem there that committees didn't have protocol

it was easily fixed by just running committee_meeting.reparse_protocol()

we should detect and fix this problems automatically

we should also log the progress and status of this scraper (using the okscraper framework)

[2015-08-31 19:04] noamelf commented on #391
Fix!

[2015-08-31 19:26] otadmor commented on #347
I have implemented the following connections for tag-knesset:
1. Tag-Bill Tag-Bill-Bill Date-Knesset End/Knesset Start
2. Tag-Vote Tag-Vote-Bill Pre Votes-Bill-Bill Date-Knesset End/Knesset Start
3. Tag-Vote Tag-Vote-Bill First Vote-Bill-Bill Date-Knesset End/Knesset Start
4. Tag-Vote Tag-Vote-Bill Approval Vote-Bill-Bill Date-Knesset End/Knesset Start
5. Tag-Vote Tag-Vote-Vote Time-Knesset End/Kn

[2015-08-31 19:33] habeanf commented on #347
@daonb Help?

[2015-08-31 20:06] ofri commented on #347
@otadmor

for Votes, use only their time to filter (i.e., if vote.time is between knesset.start and knesset.end). Don't use the link from votes to bills (because this linking is heuristic, and can be wrong). If needed for performance (consult @habeanf or @MeirKriheli ) you can add a FK from Vote to Knesset (and populate it in a data migration using the votes time field).

For Bill - I think it sho

[2015-09-04 08:14] Shrulik commented on #368
Sorry for the delay, I have been busy with other things, still am.
Firefox simply doesn't support the zoom property. The known workaround is to scale the page, but this messes around the location of the floating menu. It is an interesting problem so I will return to it.

[2015-09-19 00:18] morchickit opened #401 "Add vice spokesman of the Knesset"
הוסף סגן יושב ראש הכנסת.
(הצעה מתיבת ההצעות של האתר)

[2015-09-19 00:21] morchickit opened #402 "Not able to approve or reject suggestions in the suggestion feature"
Can't delete or resolve any suggestion...

[2015-09-19 00:23] morchickit opened #403 "MMM (מממ) reports are not updated"
The last MMM report on the site is from 2 years ago.
Is this a problem with us or the Knesset?

[2015-09-19 00:26] morchickit opened #404 "remove tag name Miri Regev מירי רגב"
No need of a tag of a name of an MK

[2015-09-19 00:31] morchickit opened #405 "Quarterly QA for bill drafts"
Currently some bill drafts are linked to the wrong bills. Need to make sure they are connected to right bill number.

[2015-09-19 00:33] morchickit opened #406 "Edit the Open Knesset about page"
Need to update the Projects sections and typos
(From the suggestions box)

[2015-09-21 13:17] otadmor commented on #347
For Bill - what exactly the stage_date means? should i use it also?

[2015-09-21 18:57] antin opened #407 "Some vote are missing on oknesset's site:"
Hi,

1. vote name:
"הצעת חוק עסקאות גופים ציבוריים (תיקון - חובת שימוש במסמכים ממוחשבים), התשע"ה-2015"
the vote on the knesset's site:
http://www.knesset.gov.il/vote/heb/Vote_Res_Map.asp?vote_id_t=22065
the vote not apperar on oknesset's site:
https://oknesset.org/vote/?vtype=all&tagged=all&order=time&from_date=2015-06-23&to_date=2015-06-23

2. vote name:
להעביר את הצעת החוק לוועדה - הצעת חוק מס ע

[2015-09-30 21:50] daonb commented on #347
Not sure, it's the date of the last stage update. Maybe sort by it?

[2015-09-30 22:49] otadmor commented on #347
Does it means its one of (pre-votes, first vote, approval vote, first-meetings ,second-meetings)?

[2015-10-01 07:38] daonb commented on #347
it's a date one of those stages you mention happened.

On 1 October 2015 at 01:49, otadmor <notifications@github.com> wrote:

--

http://tuzig.com - Building Fires in The Cloud

[2015-10-02 20:31] antin opened #408 "Former parties and mk's- shoudn`t appear on the page of "agenda details""
The former parties and mk's (on the page that shows the dedails of the agenda) should be filtered..
We added a field under the name "knesse_id": for the parties and the agenda. We can use it to fix this issue.
![agenda_bug_old_parties](https://cloud.githubusercontent.com/assets/1180768/10248514/a9be9246-6928-11e5-92b8-5bd645ebf872.jpg)
Regards,
Alon

[2015-10-12 18:05] otadmor opened #409 "Future votes are not tagged with old bills tags"
The following scenarios will not have the same result:
first scenario:
1) adding a bill
2) tagging a bill
3) adding a "first vote" to the bill
4) will result in the first vote not being tagged

Second scenario:
1) adding a bill
2) adding a "first vote" to the bill
3) tagging a bill
4) will result in the first vote being tagged

See test in auxiliary/test.py:TagVoteBillTagOrderTest in my clone.

[2015-10-19 19:16] yotamsha opened #410 "Fix requirement.txt file"
django-debug-toolbar>=1.0 should be django-debug-toolbar==1.0

[2015-10-19 19:19] yotamsha opened #411 "Fix README - installation instructions"
-For Windows  Python installation should be linking the latest download page (no need for version)

[2015-10-19 19:24] habeanf commented on #410
Why?

[2015-10-19 19:30] yotamsha commented on #410
It seems that in later version of django-debug-toolbar (1.4) there is a requirement which isn't compatible with django 1.6.11 , only with 1.7 (https://docs.djangoproject.com/en/1.8/ref/utils/#module-django.utils.module_loading).
This caused an error when trying to import the "import_string" lib.

[2015-10-19 22:38] otadmor opened #412 "Searching "כנסת פתוחה" in google gives a link to the 19th knesset, and not to the 20th knesset"
See the Image.
![knesset19](https://cloud.githubusercontent.com/assets/12109912/10593303/37bbad36-76cb-11e5-99c0-e273d60b1992.png)

[2015-10-19 23:02] otadmor opened #413 "The 19th knesset has no end date in the database"
Currently, only the start_data is initialized for the 19th knesset, and the end_date is defined in the 18th knesset only.

This might give us wrong results with date based queries / migration, such as tag detail for a certain knesset.

Might be related to https://github.com/hasadna/Open-Knesset/issues/412.

[2015-10-20 00:02] otadmor commented on #347
I noticed some bills have stage_date with older date than one of the proposals. I wanted to know if:
1) Should proposal date (knesset_bill.proposals.date) should be relevant for a knesset with these dates?
2) for the later proposal date than the stage date - I see why that happens in the code. The reason is some return phrases in the middle of update_stage - for example - if approval date exists t

[2015-10-20 20:32] otadmor commented on #409
Probably the next change is needed:
[code]
def add_tags_to_bill_related_objects(sender, instance, **kwargs):
    bill_ct = ContentType.objects.get_for_model(instance)
    for ti in TaggedItem.objects.filter(content_type=bill_ct, object_id=instance.id):
        add_tags_to_related_objects(sender, ti, **kwargs)
post_save.connect(add_tags_to_bill_related_objects, sender=Bill)
[/code]

it seem to be w

[2015-10-21 20:30] OriHoch commented on #403
From what I see we don't have an automatic process that gets the MMMs - instead, someone did the scraping manually and added a .json file with the documents - that's where you got the existing documents until 2 years ago..

need to find out who did this update and if he can do it again

[2015-10-22 18:50] OriHoch commented on #412
#414 should fix it, also I demoted the knesset 19 link in google sitelinks, so that should help as well

it's not related to 19th knesset having no end date

[2015-10-22 18:57] OriHoch commented on #413
looks like we don't use the knesset end_date anywhere in the code

however, I added it manually..

[2015-10-22 18:57] #413 closed

[2015-10-22 19:22] OriHoch commented on #411
I change the links to: https://www.python.org/downloads/

[2015-10-22 19:22] #411 closed

[2015-10-27 20:43] #410 closed

[2015-10-27 21:00] OriHoch commented on #404
I guess it was removed? I don't see it anymore

[2015-10-27 21:00] #404 closed

[2015-10-27 21:04] OriHoch commented on #402
it works for me, please be more specific - about what you are doing and what happens.

[2015-10-27 21:06] OriHoch commented on #401
duplicate of #222

[2015-10-27 21:06] #401 closed

[2015-10-29 20:12] OriHoch opened #420 "improve UX/UI of tag detail page"
after #419 is deployed, tag detail page will contain info about past knessets.

until now we only show current knesset data, but there was demand to show data about past knessets as well - tag detail page can be used as base template which we could apply to other pages.

Specifically for tag detail page - need to decide if we will continue to show past knessets - in that case, need to improve the

[2015-10-31 01:38] morchickit commented on #402
אני לוחצת על "אשר" או "דחה" וזה לא עושה כלום...
(משתשמת בכרום על המק)

[2015-11-09 17:35] #408 closed

[2015-11-09 17:35] #412 closed

[2015-11-09 19:30] OriHoch commented on #347
fixed and deployed

[2015-11-09 19:30] #347 closed

[2015-11-09 19:30] OriHoch commented on #409
fixed and deployed

[2015-11-09 19:30] #409 closed

[2015-11-09 20:38] otadmor opened #421 "Some private proposals have no content_html"
For example laws_privateproposal.id = 15312
The RTF at http://www.knesset.gov.il/privatelaw/data/20/205.rtf seems to have data.

Seems like the problem exists in the following pp:
no text for pp 7458
no text for pp 7610
no text for pp 7703
no text for pp 7771
no text for pp 7872
no text for pp 7887
no text for pp 7988
no text for pp 8022
no text for pp 8101
no text for pp 8249
no text for pp 8263

[2015-11-09 21:11] daonb commented on #347
¸.·´¯`·.´¯`·.¸¸.·´¯`·.¸><(((º>

On 9 November 2015 at 21:30, Ori Hoch <notifications@github.com> wrote:

--

http://tuzig.com - Building Fires in The Cloud

[2015-11-16 19:51] OriHoch commented on #395
1. all existing meetings were updated
2. nightly syncdata was fixed so it won't happen again
3. as a bonus, some committee meetings which were not scraper are now scraped

[2015-11-16 21:34] OriHoch commented on #407
@antin  - newer votes are appearing now, but it's possible some votes are still missing, so leaving this issue open..

[2015-11-17 10:11] morchickit commented on #311
And where is the dataset I need to clean? Link please?

[2015-11-22 13:25] morchickit opened #425 "Fix Aiman Uda picture on his MK page."
Current looks as follows -
https://oknesset.org/member/938/%D7%90%D7%99%D7%99%D7%9E%D7%9F-%D7%A2%D7%95%D7%93%D7%94/

Knesset picture link - http://www.knesset.gov.il/mk/images/members/Odeh_Aiman.jpg

@OriHoch , @noamelf - Can someone fix it before tomorrow? Or show me how to replace it in the code base? I could not find it.

Thanks!

[2015-11-22 17:12] OriHoch commented on #425
I'm on it

[2015-11-22 17:14] OriHoch commented on #425
fixed (there is caching so it might take a few minutes until you will see the update)

https://oknesset.org/member/938/%D7%90%D7%99%D7%99%D7%9E%D7%9F-%D7%A2%D7%95%D7%93%D7%94/?x=y

[2015-11-22 17:14] #425 closed

[2015-11-25 10:55] daonb opened #426 "the swagger link in docs is broken"
this [doc](https://github.com/hasadna/Open-Knesset/blame/master/docs/api/source/api_v2/swagger.rst) links to [here](https://oknesset.org/api/v2/doc/) which is broken

[2015-11-26 18:31] otadmor opened #427 "Add a VS page for knesset members"
Hello,
I think it would be nice to add a detailed comparison for 2 or more knesset members.
Something like this:
http://ark.intel.com/compare/33910,35365

[2015-11-26 18:46] noamelf commented on #427
Thats a nice idea...

On Thu, Nov 26, 2015 at 8:31 PM, otadmor <notifications@github.com> wrote:

--
,Noam Elfanbaum
972-54-555-1680+

[2015-11-30 10:03] wasymur commented on #369
In progress

[2015-11-30 10:10] #395 closed

[2015-11-30 16:22] OriHoch commented on #407
all the votes seems to be updated now, but the voting scraper should be improved

[2015-11-30 16:32] AnatKatz opened #429 "The 4 hakim that do not appear on site"
1. http://www.knesset.gov.il/mk/heb/mk.asp?mk_individual_id_t=950
2. http://www.knesset.gov.il/mk/heb/mk.asp?mk_individual_id_t=952
3. http://www.knesset.gov.il/mk/heb/mk.asp?mk_individual_id_t=879
4. http://www.knesset.gov.il/mk/heb/mk.asp?mk_individual_id_t=899

Note that they are all " (תקופת כהונה חלקית)"

[2015-11-30 16:36] OriHoch opened #430 "update MKs details - add new MKs, remove old, update start_date"
There were many changes in MKs (MKs were replaced), need to update the MKs list - go over the list here: https://oknesset.org/parties-members/20/ - and write-up required changes - add / remove MKs

also, for each MK the start / end date of term should be updated

[2015-11-30 16:38] noamelf commented on #430
Possible duplicate #429

[2015-11-30 16:41] OriHoch commented on #430
required output of this task:
* list of required changes
* or, even better - fix it in the admin

[2015-11-30 17:08] OriHoch commented on #382
deleted the duplicated meetings, it happened due to changing of knesset url which stores the meeting protocol, hopefully it won't happen again

[2015-11-30 17:08] #382 closed

[2015-11-30 17:14] OriHoch commented on #324
added opbeat

[2015-11-30 17:14] #324 closed

[2015-11-30 17:17] OriHoch commented on #159
@habeanf - should we wait for you or assign to someone else?

[2015-11-30 17:20] wasymur commented on #369
Need to find a way to delete a template cache from the code
Tip:
        #key = make_template_fragment_key('mks_detail', [obj.id, key2, key3])
        #cache.delete(key)

[2015-11-30 17:37] habeanf commented on #159
@OriHoch I won't have time for this until January-February. Feel free to reassign

[2015-11-30 18:30] OriHoch commented on #159
### example scenario:
* goto: https://oknesset.org/member/878/%D7%99%D7%90%D7%99%D7%A8-%D7%9C%D7%A4%D7%99%D7%93/
* under agendas, observe "ימין מדיני בטחוני"

### expected:
* it should not appear, because this agenda doesn't have any votes associated in the current knesset

### actual:
* it appear

### notes
* if you click on this agenda for yair lapid: https://oknesset.org/agenda/125/member/878/

[2015-11-30 18:32] OriHoch commented on #159
@wasymur - I think it's suitable for you if you want..

[2015-11-30 18:49] OriHoch commented on #426
fixed swagger in 4552ed51e8b3561a8a9219b5e2ada3a572230071

[2015-11-30 19:00] OriHoch commented on #397
fixed in c34ef676cd8424fa619991646892d3e14d5b05e5

[2015-11-30 19:00] #397 closed

[2015-11-30 19:06] OriHoch commented on #386
she is not a lobbyist.. the protocol on our site is a bit confusing after knesset changed their word format

if you look in the original doc - you can see she is without a title, the lobbyist is matan, above her..

http://fs.knesset.gov.il/20/Committees/20_ptv_311209.doc

[2015-11-30 19:06] #386 closed

[2015-11-30 19:15] OriHoch opened #431 "review and fix lobbyists data"
### example problem:
* goto: https://oknesset.org/committee/meeting/10034/
* look at the associated lobbyists

### expected
* אלי זרחין should appear once
* ברדוגו יועצים should appear once

### actual
* they appear twice

### notes
* you can associate lobbyist corporation synonym, by going to lobbyist corporations page with a logged-in user with relevant permission (https://oknesset.org/lobbyists

[2015-11-30 19:18] OriHoch opened #432 "committee protocol invited section is confusing"
* goto: https://oknesset.org/committee/meeting/10034/
* look at the "מוזמנים" section

### expected
* person name and title should be on same line

### actual
* person name is separated by line breaks and dash
* it is not clear which title belongs to which person

## notes
* I think it should be fixed when scraping the data, but it might be possible to fix on display as well.. whatever is easier

[2015-11-30 19:28] OriHoch commented on #426
fixed
https://oknesset.org/api/v2/doc/

[2015-11-30 19:28] #426 closed

[2015-12-03 01:18] otadmor opened #433 "Hyphens shown as question marks in law's title"
See attached image.
![questionmark_bug](https://cloud.githubusercontent.com/assets/12109912/11549169/705708d4-996c-11e5-8f38-2ba8e7029a81.png)

![questionmark_bug2](https://cloud.githubusercontent.com/assets/12109912/11549180/88859056-996c-11e5-9bb2-0e455d7cd7a5.png)

[2015-12-03 07:16] shevyk commented on #405
Please also create a document detailing the QA methodology.

[2015-12-03 07:25] OriHoch commented on #405
@AnatKatz has experience with QA methodology, writing test plans etc.. perhaps she could help. Maybe a meeting of her with @morchickit

[2015-12-03 08:16] shevyk opened #434 "Attendance at Knesset numbers are incorrect"
attendance numbers for all MKs are currently zero., e.g. https://oknesset.org/member/860/%D7%A7%D7%90%D7%A8%D7%99%D7%9F-%D7%90%D7%9C%D7%94%D7%A8%D7%A8/

נוכחות במשכן

[2015-12-03 08:19] shevyk opened #435 "Add committe dates to recent meetings"
Currently the list of recent meetings doesn't show the date of the meeting which makes it difficult to quickly see when the most previous meetings with published protocols were held.

[2015-12-03 08:22] AnatKatz commented on #405
Sure. @morchickit when can we talk on phone/skype?

[2015-12-03 08:40] morchickit commented on #405
I'll be in the next meetup?

On Thu, Dec 3, 2015 at 9:22 AM, justkatzit <notifications@github.com> wrote:

[2015-12-03 08:47] AnatKatz commented on #405
when is the next meetup?...

[2015-12-03 08:50] morchickit commented on #405
Monday. :-)

On Thu, Dec 3, 2015 at 9:47 AM, justkatzit <notifications@github.com> wrote:

[2015-12-03 09:45] AnatKatz commented on #405
Sent you a mail...

[2015-12-07 19:35] RacheliRoval commented on #430
הי חברים,
אז אלו השינויים הנדרשים:
1. הליכוד- צריך להוסיף את ח"כ שרן השכל. נכנס ב-27.8.2015 (במקום דני דנון  שהוסר מהרשימה)
 2.הבית היהודי- להוסיף את שולי מועלם רפאלי. נכנסה ב-9.10.2015  במקום נפתלי בנט
אבי וורצמן- החליף את ינון מגל בין ה-3.12.2015 ל- 6.12.2015.
נפתלי בנט- החליף את אבי וורצמן החל מה-6.12.2015.
3. המחנ"צ- צריך להוסיף את ח"כ יעל כהן פארן. נכנסה ב-25.11.2015 במקום ח"כ דניאל עטר שהוסר

[2015-12-07 20:04] morchickit opened #436 "Bug in counting votes in Plenum"
In this plenum vote, Open Knesset present the result as 29-46. -
https://oknesset.org/vote/9086/

The Knesset website show a different result - 47 - 30 - http://www.knesset.gov.il/vote/heb/Vote_Res_Map.asp?vote_id_t=23556

Why is the difference?

[2015-12-14 09:40] OriHoch commented on #429
all four were added

[2015-12-14 09:40] #429 closed

[2015-12-14 10:14] OriHoch commented on #430
DONE

[2015-12-14 10:14] #430 closed

[2015-12-14 10:30] #435 closed

[2015-12-14 10:34] OriHoch commented on #436
there were missing MKs which we didn't count: שרן השכל and עודד פורר

these MKs were added today, I will check if we need to re-run the votes processing

[2015-12-14 14:55] AnatKatz opened #438 "Upcoming meetings of a committee should be arranged by dates (descending or ascending)"
### Steps:
1. Go to a committee page such as:
https://oknesset.org/committee/25/
https://oknesset.org/committee/6/
https://oknesset.org/committee/7/
2. See **ישיבות קרובות** section

### Expected result:
1. All meetings will be shown once
2. Meetings will have some kind of order

### Actual
1. Some of the meetings are shown twice
2. No order

![2](https://cloud.githubusercontent.com/assets/1102853

[2015-12-14 15:19] AnatKatz commented on #434
Also
https://oknesset.org/member/864/%D7%A0%D7%A4%D7%AA%D7%9C%D7%99-%D7%91%D7%A0%D7%98/

https://oknesset.org/member/915/%D7%9E%D7%99%D7%A8%D7%91--%D7%91%D7%9F-%D7%90%D7%A8%D7%99/

https://oknesset.org/member/200/%D7%90%D7%99%D7%9C%D7%9F-%D7%92%D7%99%D7%9C%D7%90%D7%95%D7%9F/

[2015-12-14 16:14] OriHoch commented on #436
I'm now running a process which goes over past votes and updates them as well

[2015-12-14 16:14] #436 closed

[2015-12-14 16:47] AnatKatz commented on #407
@antin
How did you catch this bug?

[2015-12-14 17:40] OriHoch opened #439 "setup QA environment"
@AnatKatz would like to make changes to DB (e.g. add / delete mk) to try and recreate bugs

2 options to fix it:

1. setup QA environment
2. install local environment on @AnatKatz 's PC

[2015-12-14 17:41] OriHoch commented on #439
for local install - best way might be to create a virtual machine

[2015-12-14 17:42] OriHoch commented on #439
simulate scraping data - e.g. add votes

[2015-12-14 18:28] AnatKatz commented on #439
Example of test case
[Test_case.docx](https://github.com/hasadna/Open-Knesset/files/61552/Test_case.docx)

[2015-12-14 18:50] OriHoch opened #440 "api: add option to search bill by title"

[2015-12-14 18:51] OriHoch commented on #440
@kobigro needs it for https://github.com/prsnca/openCommittee

[2015-12-14 19:37] dror-kris opened #441 "Content - Problem viewing text w/ more than 3 lines"
תוכן: כאשר "הידעת" מכיל יותר מ-3 שורות, הכפתור "קריאה נוספת בוויקיפדיה" מסתיר אותו. לינוקס דביאן, גנום, פיירפוקס 21.0, רזולוציה 1152x864

[2015-12-14 19:46] OriHoch commented on #440
https://oknesset.org/api/v2/bill/?full_title__contains=%D7%9E%D7%95%D7%92%D7%91%D7%9C%D7%95%D7%AA

[2015-12-14 19:46] #440 closed

[2015-12-14 19:47] dror-kris opened #442 "Content - following the Reseach Dept. (ממ"מ)"
תוכן: אשמח אם תהיה אפשרות להציג נתונים השוואתיים בנוגע לכמה מחקרים הזמינו חברי כנסת מהממ"מ. אני חושב שצריכה להיות אפשרות לפי כל כנסת ולפי כל הכנסות ביחד (מי הכי הרבה, מי הכי מעט וכו'). לדעתי זה חשוב כדי לנסות להסיק בעקיפין כמה מאמץ משקיעים חברי כנסת בלימוד והעמקת הנושאים המורכבים שעומדים על פתח דלתם, ולא מצביעים כלאחר יד בועדות ובמליאה מבלי לרדת לשורשם של נושאים

[2015-12-14 19:48] dror-kris opened #443 "Content - possible more visual link to donation"
שיהיה יותר קל למצוא את הלינק לתרומות

[2015-12-14 19:50] morchickit opened #444 "Protocols in committees are not up to date."
In ועדת הכלכלה, in Oknesset the last protocol is from 14/10/15.
https://oknesset.org/committee/2/

In the Knesset website is from 8/12/15:
http://main.knesset.gov.il/Activity/Committees/Economics/Pages/CommitteeProtocols.aspx

[2015-12-14 19:50] OriHoch commented on #442
where/how should this appear?

[2015-12-14 19:53] morchickit opened #445 "Remove עמבד function from דף חקיקה"
It is not relevant at the moment... Also, why did we translate embed to עמבד ?!

[2015-12-14 19:54] dror-kris commented on #442
As a separate category/entity, or within the voting record...
For each Parliament Member - how many research projects they commissioned, and for what laws...

Mor says it is problematic because the Research Department have stopped publishing the data

[2015-12-14 20:00] dror-kris opened #446 "Content - Show relevant news stories for law/agenda"
![tipul1](https://cloud.githubusercontent.com/assets/16294680/11792296/077a7274-a2ae-11e5-8f11-9431c395dfb7.PNG)

[2015-12-14 20:04] morchickit opened #447 "Make sure all private bills are up to date on OKnesset"
שיוך הצעות חוק פרטיות שאינן משויכות לכלום.
See Ofri's guide here  -
https://docs.google.com/document/d/12z8xllDBKU02GfwcJmYUueqqSahyHwZiBQHM8Uy7oJo/edit

@OriHoch , @noamelf - can you get me a report of unlisted (לא משויכות)  bills?

@ofri - can you help us to explain how to retrieve this?

[2015-12-14 20:34] morchickit opened #448 "Delete the DOCTYPE header in committees protocols"
Each committee protocol start with the lines -
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dt

This needs to be removed from the display in each committee. Example for a protocol -
https://oknesset.org/committee/meeting/10458/

[2015-12-14 20:39] RacheliRoval opened #449 "Fix the voting data of (הצעת חוק השידור הציבורי (תיקון מס' 2"
בהצעת חוק השידור הציבורי (תיקון מס' 2) יש טעות בנתוני ההצבעה: בבעד חסרה ח"כ שרן השכל ובנגד  יש את ח"כ קרין אלהר למרות שלא הייתה בהצבעה.
![2015-12-14 - knesset](https://cloud.githubusercontent.com/assets/16195243/11793311/843ebb30-a2b3-11e5-8f3f-744e687ae252.jpg)

[2015-12-14 20:46] morchickit opened #452 "Add government bills to Open Knesset"
This is an issue to all of the problems with gov bills in Open Knesset.

- [x] Mark bills as gov bills
- [x] Mark private bills as private
- [x] Mark Knesset bills as Knesset
- [ ] Allow assignment of gov bills to committees and votes.

[2015-12-14 20:55] morchickit opened #453 "Write help text to bills הצעות חוק"
[*] דעת קהל
[*] תגיות
[*] אג'נדות
[*] קישורים
[*] יזום הצעות חוק
[*] קריאה טרומית
[*] קריאה ראשונה
[*] קריאה שנייה
[*] קריאה שלישית

[2015-12-14 20:58] morchickit commented on #431
This is still confusing for content volunteers. Do we need to do this to all protocols? Can this be a test for @AnatKatz ?

[2015-12-14 21:10] RacheliRoval opened #454 "יש שתי הצעות חוק שירותי רווחה לאנשים עם מוגבלויות אבל הן משוייכות כהצעת חוק אחת"
צריך לשים לב שלמרות שמדובר בשתי הצעות חוק שונות (שעברו בהצבעות טרומיות שונות), כיוון שהשם זהה- הן תחת אותו חוק בלשונית של חקיקה. לכן זה נראה כאילו היו 3 הצבעות טרומיות שונות על אותה הצעת חוק.
![knesset 2](https://cloud.githubusercontent.com/assets/16195243/11794044/e4a14002-a2b7-11e5-9be1-34c0f6b9ecc0.png)

[2015-12-15 08:20] mishugana commented on #431
There seems to be one lobbyist with different IDs for these occurrences.
A patch can be done to select distinct values but this would not fix the segmented data, and we would be only able to link to one page, and both different IDs contain different data.
What is the best practice for merging this data?

[2015-12-20 18:22] morchickit opened #455 "Remove Silvan Shalom as MK"
My god... so many updates in one Knesset! :-\
Is the next one is אמיר אוחנה?

[2015-12-21 17:48] mishugana commented on #431
i'm working on a code fix now.

[2015-12-21 17:54] mishugana opened #456 "Photos of lobbyists have wrong aspect ratio when previewed"
![image](https://cloud.githubusercontent.com/assets/3589086/11937375/ae9ee49a-a81c-11e5-83a4-f71c74a809f3.png)

[2015-12-21 18:00] OriHoch commented on #455
removed silvan
amir ohana does not appear on knesset site yet so I can't add it... will open a new issue to follow up

[2015-12-21 18:00] #455 closed

[2015-12-21 18:01] OriHoch opened #457 "wait until amir ohana appears in knesset site, then add him"
wait for him to magically appear here: http://www.knesset.gov.il/mk/heb/mkindex_current.asp

then, add him in admin, need to make sure his pk is the same as the knesset id

[2015-12-21 18:27] morchickit commented on #454
We need to sort out of the bills workflow soon. @shevyk , @OriHoch

[2015-12-21 18:36] mishugana opened #458 "lobbyists page has too many queries"
probably can be cut down significantly to improve efficiency

[2015-12-21 18:41] morchickit commented on #452
@OriHoch and @noamelf - @RacheliRoval worked to see how these bills looks in the app and from content wise, it is a mess. We need to do some code archeological digging understand the flow of governmental bill vs. knesset bill vs. private bill in order to proceed here.

[2015-12-21 18:42] morchickit commented on #442
@OriHoch - I thought we stopped getting information from the מממ, no?

[2015-12-21 18:42] RacheliRoval opened #459 "find and fix bugs in חוק זכויות חוק זכויות, שירותים והתאמות בחינוך לילדים עם צרכים מיוחדים, התשע"ד–2014"
There is a few bugs in the bill:
- there is three different first reading, each one of them linked to a different bill.
-the confirmation of the bill is linked to another bill from 2011 (the student rights bill).
https://oknesset.org/bill/8487/

[2015-12-21 18:45] morchickit commented on #449
@OriHoch - didn't we ran an algorithm to detect this last week?

[2015-12-21 18:48] morchickit commented on #427
Didnt we use to have it?
![screen shot 2015-12-21 at 18 47 27](https://cloud.githubusercontent.com/assets/3273659/11938506/565a7aa0-a813-11e5-94b9-aa720fd20eb9.png)

Where did it disappeared to?

[2015-12-21 18:53] OriHoch commented on #427
we have this: https://oknesset.org/member/by/bills_proposed/

[2015-12-21 18:56] RacheliRoval opened #460 "Bills- add header above the images of the MK's"
it is not clear who the people in the pictures are.
we need to explain those are the MK's who initiated the law (יוזמי החוק)
![image](https://cloud.githubusercontent.com/assets/16195243/11938681/25e13cf8-a825-11e5-8344-b8e310e821d0.png)

[2015-12-21 19:20] kanija opened #461 "Bills - UX suggestion / thought"
I think the information regarding the bill, other than just its title, should be visible right away, and not like it is currently - pressing a button (which isn't very inviting, or obvious to be clicked).

I suggest showing the bill's information in a box under the flow chart of the bill.

[2015-12-21 19:50] OriHoch commented on #452
bills are marked as gov bills, for example: https://oknesset.org/bill/7447/
![image](https://cloud.githubusercontent.com/assets/1198854/11939742/cb0f3390-a82c-11e5-8051-3d6b0509c3fb.png)

[2015-12-21 20:52] morchickit commented on #452
So - we need to remove קריאה טרומית from government bills as well.
Need to mark in this page what bill is private and what is governmental - https://oknesset.org/bill/

[2015-12-21 20:53] morchickit commented on #452
Another example to the problems with gov bills -
n the bills page  https://oknesset.org/bill/ the bill
חוק לתיקון פקודת הסטטיסטיקה מס` 4
is marked in Va'ada while in the bill page - https://oknesset.org/bill/9601/ - nothing is marked.

[2015-12-21 20:56] morchickit commented on #460
Easy - add header - יוזמי החוק between the name of the bills and  MK's pictures.

[2015-12-21 20:57] morchickit commented on #459
@OriHoch or @noamelf can you have a look at this please?

[2015-12-21 20:58] morchickit commented on #405
Anat, when?

[2015-12-21 20:59] morchickit commented on #405
@OriHoch - did you speak to @ofri about how to get this report from the system?

[2015-12-21 21:00] morchickit commented on #402
Working now!

[2015-12-21 21:00] #402 closed

[2015-12-21 21:01] morchickit commented on #396
@OriHoch - didn't we fix it?

[2015-12-21 21:04] morchickit commented on #394
In this case - add the following - In the committee page, explain who is a committee member and who is a visiting MK.

[2015-12-21 21:14] morchickit commented on #358
Do we want to show MK's videos etc? @shevyk

[2015-12-21 23:10] morchickit commented on #315
Is this even still relevant? Which 3rd party data are we getting today? @OriHoch

[2015-12-21 23:12] morchickit commented on #292
Can we even compute that? @OriHoch

[2015-12-22 08:28] ohadcn commented on #292
how many of the bills are recycled?

[2015-12-22 10:49] morchickit commented on #292
What do you mean by recycled? How many of them are the same bill in different form? How many edits to the law are there?

We don't know how many laws are on the same theme. Frankly, there are too many of them. This require a constant legal analysis to all bills, not just the popular ones...

[2015-12-22 10:50] morchickit commented on #427
הלינק לא עובד מכיתוב של מחפשים השוואה. שאני אפתח באג חדש?

[2015-12-27 19:03] morchickit opened #463 "missing votes in website"
See this forum discussion - http://forum.hasadna.org.il/t/topic/1092

[2015-12-28 13:21] #452 closed

[2015-12-28 13:24] OriHoch commented on #452
I think most of the stuff will be fixed when v2.4.0 is deployed (which should be today)

Following changes were made:

* show the bill type both in the bill list page, and in bill detail page
* allow to filter bills according to type
* fix the problem with government bill stage

[2015-12-28 13:29] OriHoch commented on #457
added:
https://oknesset.org/member/953/%D7%90%D7%9E%D7%99%D7%A8-%D7%90%D7%95%D7%97%D7%A0%D7%94/

[2015-12-28 13:29] #457 closed

[2015-12-28 13:30] OriHoch opened #464 "fill-in details about Amir Ohana"
Need to edit Amir Ohana in admin and add some details about him

https://oknesset.org/member/953/%D7%90%D7%9E%D7%99%D7%A8-%D7%90%D7%95%D7%97%D7%A0%D7%94/

[2015-12-28 16:35] morchickit opened #465 "Update the Open Knesset in the Media section"
Here - https://oknesset.org/about/

[2015-12-28 16:37] morchickit commented on #331
Cant we get this from Kikar Hamedina?  @OriHoch @yotammanor

[2015-12-28 16:39] morchickit commented on #364
@OriHoch - is this still needed to be done manually? If so, I'll add it to the doc...

[2015-12-28 18:18] RacheliRoval opened #466 "Consider removing "דעת קהל" function from the bill page"
users almost never use it and it doesn't seem to serve its goal.

[2015-12-28 18:42] morchickit commented on #449
@OriHoch - is this the same as #407 ?

[2015-12-28 18:48] morchickit commented on #405
Same as #447 . Closing.

[2015-12-28 18:48] #405 closed

[2015-12-28 18:52] morchickit commented on #311
@OriHoch - link to where we need to look please?

[2015-12-28 19:28] morchickit commented on #464
Still not updated in the Knesset website... I will give it a week before Updating again.

[2015-12-28 19:40] morchickit commented on #387
I am not sure this is a new feature... we just need to get distinct sub committees than normal ones. They are distinctive in the protocols...

[2015-12-28 19:43] morchickit commented on #286
Isn't this a duplicate of #279?

[2015-12-28 19:45] OriHoch commented on #431
#467 fixes the problem for the future (it won't happen again)

however, we need to merge the existing duplicated lobbyists, so keeping this issue open

[2015-12-28 19:52] #286 closed

[2015-12-28 19:53] #311 closed

[2015-12-28 19:54] OriHoch commented on #449
no, it's a different problem, here the vote appears but some MKs are missing

@noamelf  - this is a reason to reparse vote members, even if we already have the vote

[2015-12-28 19:56] OriHoch commented on #364
yes, still needs to be done, I think @kanija did some work on it

[2015-12-28 19:59] morchickit opened #468 "Can't find הצעות חוק כנסת (או ועדה)"
מזהי כנסת לא עובדים בכנסת פתוחה.
למשל, הצעת חוק מעמד החטיבה להתיישבות עבר מפרטי  פ1674 לכ602, אבל לא ניתן למצוא את 602.
בנוסף, לא ניתן למצוא את תיקון חוק הכנסת מספר 40, שהוא כ606.
@OriHoch
ראית את זה פעם?

[2015-12-28 20:03] OriHoch commented on #427
I don't understand the bug.. please write reproduction steps / expected / actual

you can write it here

[2015-12-28 20:04] morchickit commented on #447
Spreadsheet is here - https://docs.google.com/spreadsheets/d/1awynosg_uvFljiTkGu3mUUBgHj4egl4NsgOgBJt0IBc/edit#gid=0

@RacheliRoval - I am starting to work on it, you can join if you want. :-)

[2015-12-28 20:04] OriHoch commented on #292
should be relatively easy to compute it

[2015-12-28 20:06] OriHoch commented on #315
yes, it's relevant, tomer avital has a lot of data which we could incorporate

[2015-12-28 20:07] OriHoch commented on #396
no, it still runs manually AFAIK

[2015-12-28 20:08] OriHoch commented on #452
closing this issue, please open new one if more work is needed

[2015-12-28 20:09] OriHoch opened #469 "travis build is failing due to sauce connect"
see https://travis-ci.org/hasadna/Open-Knesset/builds/99151151

[2015-12-28 20:10] morchickit commented on #452
go for it.

On Mon, Dec 28, 2015 at 8:08 PM, Ori Hoch <notifications@github.com> wrote:

[2015-12-28 20:14] morchickit opened #470 "In government bills make Pre-Call (טרומית) as unavailable."
Since Government bills don't have this stage, it need to be marked some how on the page.

[2015-12-28 20:18] morchickit commented on #468
I can't find the bill as well...

[2015-12-28 20:33] RacheliRoval opened #471 "There is no separation between the permanent comities and the special committees"
: יש ערבוב בסדר בין הועדות הקבועות לועדות המיוחדות
יש 12 ועדות קבועות. כדאי להבחין בינן לבין הועדות המיוחדות באמצעות טאבים/כותרות נפרדות.

[2015-12-28 20:35] RacheliRoval opened #472 "Committies- there is no member list in ועדת שקיפות"

[2015-12-28 20:52] RacheliRoval opened #473 "Bug- ועדה מיוחדת להתחדשות עירונית"
בלשונית "ועדות" מופיעות שתי ועדות ששמן כמעט זהה:
"ועדה מיוחדת לדיון בהצעת חוק הרשות הממשלתית להתחדשות עירונית, התשע"ה-2015" *.
הוועדה המיוחדת לדיון בהצעת חוק הרשות הממשלתית להתחדשות עירונית ובסעיפים מהצעת חוק התכנית הכלכלית"*
צריך להבין מאיפה נובעת הכפילות.
  בועדה הראשונה- יש רשימת חברים לא מעודכנת, אין ישיבות קרובות (למרות שבאתר הכנסת יש) אין ישיבות שטרם פורסם פרוטוקול ויש רק שני פרוטוקלים מיולי

[2015-12-28 21:49] otadmor commented on #427
this is a cr, not pr.

[2015-12-28 22:01] morchickit commented on #472
Let's add it manually. @OriHoch - is it fine by you?

[2015-12-28 22:33] smiley opened #474 ""הצעות ממתינות"?"
I signed up for the website and got this cryptic notice at the top of the page:
![image](https://cloud.githubusercontent.com/assets/354181/12026542/79bdd054-adc3-11e5-9307-c5022acf0e56.png)

Clicking it opens this dialog with a wide variety of comments left by other people, with no actions available:
![image](https://cloud.githubusercontent.com/assets/354181/12026545/8e416cfc-adc3-11e5-9653-a5f281

[2015-12-29 07:21] OriHoch commented on #474
Thanks @smiley for taking to time to fill out this bug

I think there are 2 options to fix this:

1. only show it to authorized users which have a relevant permission
2. in the spirit of open source, I don't think there is a problem showing it to all users, but then it shouldn't be on top of the homepage and should contain proper explanation

[2015-12-29 07:23] OriHoch commented on #474
@morchickit  - please prioritize

Seems like both options are easy to fix and if all users see it it's very confusing and unprofessional.. especially if it's on the homepage

[2015-12-29 07:25] OriHoch commented on #474
the first option of showing it only to authorized users is easier, because it doesn't require to think about how to improve the UX of it, what explanation to add, where it should be shown etc.. So I guess it would be the best quick-fix for now

[2015-12-29 07:26] OriHoch commented on #472
sure

[2015-12-29 07:27] OriHoch commented on #427
thanks @otadmor  - so that's a feature we need to add

@morchickit - regarding the bug you wrote about, it should be in a new issue

[2015-12-29 07:41] RacheliRoval commented on #472
Can I do it or I need special permission?

On Tue, Dec 29, 2015 at 9:26 AM, Ori Hoch <notifications@github.com> wrote:

[2015-12-29 08:34] daonb commented on #315
I have the data too, or rather osubs has it. here's a sample -
https://osubs.org/#/committee/4/#candidate-3700

On 28 December 2015 at 22:06, Ori Hoch <notifications@github.com> wrote:

--

http://tuzig.com - Building Fires in The Cloud

[2015-12-29 09:11] smiley commented on #474
My problem with it is this: what am I supposed to do with it? It's a clear call-to-action but there's nothing for user to do with it, let alone close it, which is why it looked more like a bug.

What was its original purpose, anyway?

[2015-12-29 09:19] OriHoch commented on #474
in a lot of places in the site there is a feedback button - this is where all those feedback go to

authenticated users can accept or decline suggestions

[2015-12-29 09:35] habeanf opened #475 "Upgrade django"
We're still on 1.6, which is no longer supported and is considered insecure. The largest chunk of work is  migration upgrade from south to django's builtin.
We have many deprecation notifications in test so this may be quite a lot of work.

[2015-12-29 09:42] smiley commented on #474
Okay, then I have no option to accept or decline any of them.

[2015-12-29 10:00] OriHoch commented on #474
I meant users with the required permission, we can't let anyone accept or decline suggestions..

If you want to start doing that, let's meet or talk first :)

[2015-12-29 10:13] smiley commented on #474
Hah, I thought there was some "level" requirement, I just couldn't find an indication so I wasn't sure. This might confuse a lot of people, can you add a visible "contributor level" to accounts?

[2015-12-29 10:51] morchickit commented on #474
This is definitely not ideal, but not on top priorities now. I would say to show the box only to permitted users. I am prioritising this low, but is a started wants to dig in that, they should take it.

[2015-12-29 10:52] morchickit commented on #472
You do need permissions, and you can do it if you want to. @OriHoch or @noamelf can you give Racheli permissions?

[2015-12-29 22:33] noamelf commented on #472
Sure let's do it in the next meeting

On Tue, Dec 29, 2015, 12:52 PM morchickit <notifications@github.com> wrote:

--
Noam Elfanbaum
+972-545551680

[2015-12-30 09:57] RacheliRoval commented on #447
sure @morchickit, I will join you :)
maybe I will  start from the bottom.

[2016-01-04 17:33] dror-kris opened #476 "Content - add relevant news updates on each law's page"
להוסיף רכיב כמו באתר תקציב פתוח שמחפש חדשות רלוונטיות לדף החוק (obudget-news) ושגם יקשר לויקי שיצרו המשמר החברתי
![tipul_news](https://cloud.githubusercontent.com/assets/16294680/12095825/1707e02e-b31a-11e5-998b-0f7a1263f8fa.PNG)

[2016-01-04 17:54] dror-kris opened #477 "Content - Possibility for user who follows agenda to automatically follow relevant laws?"
יש אפשרות לדאוג לכך שמעקב אחרי אג'נדה תוביל למעקב אוטומטי אחרי כל מה שמשויך לאג'נדה?ֿ

[2016-01-04 18:29] morchickit commented on #477
Don't think so

[2016-01-04 19:22] morchickit commented on #444
Any updates? @noamelf

[2016-01-04 19:46] dror-kris opened #478 "Content - for the committee protocols/discussions - can we allow user comments?"
To allow them to highlight specific spots +create discussion

[2016-01-04 19:55] morchickit commented on #478
we allow it already

[2016-01-04 19:55] #478 closed

[2016-01-04 20:09] antin opened #479 "חוק שהוצע מוועדת כנסת לא מופיע באתר כנסת פתוחה‎"
חוק שיו"ר ועדת הכנסת הציע לא מופיע‎
http://knesset.gov.il/laws/data/billknesset/608/608.pdf
ולא קיים ב -8-12-2015
באתר כנסת פתוחה
https://oknesset.org/bill/?&page=5

@morchickit
תוכלי לתעדף?

תודה,
אלון

[2016-01-04 20:15] morchickit commented on #479
הבאג הזה כבר מוכר ובדיוק דיברתי איתו עכשיו עם @noamelf
https://github.com/hasadna/Open-Knesset/issues/468

סוגרת את זה. :-)

[2016-01-04 20:15] #479 closed

[2016-01-04 20:32] noamelf commented on #444
@morchickit hi, I'm working on the votes thing, if there will be a connection I'll update...

[2016-01-05 09:44] dror-kris opened #480 "Add help text of date format"
תוכן: בעת הכנסת תאריכים, אני מתבקש להכניס תאריך חוקי, ולא כתוב מה זה.. (פורמט של השדה או הגבלה על שנים המצוייות במאגר)

Not sure where they are talking about...

[2016-01-05 11:29] morchickit commented on #480
@dror-kris - I don't follow, did they give an example where it's happening?

[2016-01-05 11:58] dror-kris commented on #480
I also am not sure, I tried to find on the site what they were referring to - i thought maybe you knew :/

[2016-01-06 08:36] RacheliRoval commented on #472
I added the members to the committee. we can close the task now.
thank you @noamelf :)

[2016-01-06 08:42] noamelf commented on #472
:)

On Wed, Jan 6, 2016 at 10:36 AM RacheliRoval <notifications@github.com>
wrote:

--
Noam Elfanbaum
+972-545551680

[2016-01-07 09:32] morchickit commented on #480
I have no clue. I will re-open when we know.

[2016-01-07 09:32] #480 closed

[2016-01-07 09:33] #472 closed

[2016-01-07 09:36] morchickit commented on #444
OK, this is becoming top of the top priorities. We have two months of missing protocols. @OriHoch - for you attention as well.

[2016-01-07 21:30] morchickit commented on #459
See also this - https://www.oknesset.org/bill/8123/
@OriHoch , can you have a look please?

[2016-01-07 22:42] morchickit opened #481 "Plenum protocols are not up to date"
Last one is from August

[2016-01-08 19:06] maryLoi opened #482 "Cannot search committees"
There is no option to search only for committee sessions on a specific subject, or to search for bill proposals that have been discussed in a committee. when filtering bill proposals there is only an option to search for predefined tag words, not free text

[2016-01-08 19:35] maryLoi opened #483 "Bill filter - add date format tooltip in the text search field"
In "שלב השתנה אחרי"  and "שינוי סטאטוס לפני" fields add a  cue for the correct date format: dd/mm/yyyy

[2016-01-10 12:46] RacheliRoval commented on #459
So I looked at the bil in the Knesset sight to try and figure out what is the problem in this case and this is what I found out:
- there are two identical but different bills which were merged eventually : The first, of MK Shimon Ohaion (named הצעת חוק קביעת יום לציון הפליטות היהודית ממדינות ערב). this bill was brought to first reading in 3.3.2014 (and not קריאה טרומית)
The second, of MK Nissim Ze

[2016-01-11 18:36] dror-kris opened #484 "Content - the wrong מספר חוברת for a law"
https://oknesset.org/bill/7639/
the choveret number is written as 770, in Nevo it is 771

[2016-01-11 19:04] dror-kris opened #485 "Content- do we have a link straight to the 'tags' page?"

[2016-01-11 19:06] morchickit commented on #464
Added pic.
No data about committees yet. :-\

[2016-01-11 19:06] #464 closed

[2016-01-11 19:16] dror-kris opened #486 "Content - bug? the agendas don't show the personal Knesset member ranking"
The parties show up on the list on the left, but the knesset members dont

[2016-01-11 19:43] OriHoch commented on #481
fixed

[2016-01-11 19:43] #481 closed

[2016-01-11 19:53] dror-kris opened #488 "Content - bad link"
Law: https://oknesset.org/bill/7683/
חוק להסדרת פעילות חברות דירוג האשראי התשע”ג-2013 חוק חדש

Links to the Knesset site brings to a different law (785)
הצעת חוק פיצויים לנפגעי תאונות דרכי

[2016-01-11 19:56] dror-kris commented on #488
This is the correct link:
http://knesset.gov.il/Laws/Data/BillGoverment/786/786.pdf

[2016-01-11 19:59] dror-kris opened #489 "Content - bad link"
https://oknesset.org/bill/7599/

should link to here:
http://www.knesset.gov.il/committees/heb/docs/kakala251113-2.pdf

[2016-01-11 21:19] morchickit commented on #489
זו הצעת חוק ממשלתית, אנחנו לא מקשרים בכאלו (עדיין). סוגרת בינתיים ונראה איך נתקדם עם זה בהמשך...

[2016-01-11 21:19] #489 closed

[2016-01-11 21:20] morchickit commented on #488
I don't see the link to the Knesset site at alll

[2016-01-11 21:20] morchickit commented on #485
From which page? Committee? Plenum?

[2016-01-11 21:24] morchickit commented on #484
I less care about Nevo, more about Pounch Banana, which actually says its a private bill...
http://main.knesset.gov.il/Activity/Legislation/Pages/BillForReadings2And3.aspx
I guess it never went to second and third hearings?

[2016-01-11 21:28] dror-kris commented on #488
http://knesset.gov.il/Laws/Data/BillGoverment/786/786.pdf

[2016-01-11 21:28] dror-kris commented on #488
this is the link to the pdf

[2016-01-11 21:29] dror-kris commented on #484
the punch banana is an internal knesset database?

[2016-01-11 21:30] dror-kris commented on #485
No, from the home page

[2016-01-11 21:44] morchickit commented on #484
yes

On Mon, Jan 11, 2016 at 9:29 PM, dror-kris <notifications@github.com> wrote:

[2016-01-11 21:45] morchickit commented on #485
We have one at the footer.

[2016-01-11 21:45] #485 closed

[2016-01-17 09:06] OriHoch commented on #444
I'm working on it

[2016-01-17 09:13] OriHoch opened #490 "committee meetings scraper fixes and improvements"
this issue is an aggregation of multiple problem all relating to committee meeting scraper:

- [x] #444 protocols are not up to date
- [x] #448 delete the doctype header in protocols
- [x] #432 #450 protocol invitees section is confusing
- [x] #399 improve committee meeting scraper

[2016-01-17 09:14] OriHoch commented on #444
will be handled in #490

[2016-01-17 09:14] #444 closed

[2016-01-17 09:14] OriHoch commented on #448
will be handled in #490

[2016-01-17 09:14] #448 closed

[2016-01-17 09:14] OriHoch commented on #432
will be handled in #490

[2016-01-17 09:14] #432 closed

[2016-01-17 09:14] OriHoch commented on #399
will be handled in #490

[2016-01-17 09:14] #399 closed

[2016-01-18 19:15] RacheliRoval opened #492 "Update members list of the different committees"

[2016-01-18 19:47] RacheliRoval commented on #492
@morchickit , what did you tell me about ועדת הכספים?
It is full of MK's which are actually not members:
שלי יחימוביץ, יצחק כהן, יעקב ליצמן, איוב קרא, חיים כץ, גילה גמליאל

[2016-01-18 19:57] RacheliRoval opened #493 "make clear distinction between permanent members and replacements in the committees"
Currently it's not well organized and it's hard to see who are the permanent members and who are the replacement.
I think it should be organized in two different lists with different headings and the replacements should be called  ממלאי מקום and not מ"מ (not everyone understand the meaning).

[2016-01-18 20:29] RacheliRoval commented on #492
@morchickit, can I remove  דרעי, אלקין, גלאון, לוין, גפני ואילטוב
מועדת חוץ וביטחון?

[2016-01-18 20:50] morchickit commented on #492
ליצמן, דרעי, לוין וגמליאל הם שרים, לכן הם לא חברי ועדה.
אפשר להוציא

[2016-01-18 20:51] morchickit commented on #492
בואי נשאיר את השאר בינתיים

[2016-01-26 13:50] yotammanor opened #494 "Add latest Facebook statuses to homepage"
from Hasadna's project kikar-hamedina ( www.kikar.org , https://github.com/hasadna/kikar-hamedina)

[2016-01-26 13:52] morchickit commented on #494
All for it!
@yotammanor - sounds good!

[2016-01-28 21:31] maryLoi opened #496 "Ksenia Svetlova - gender"
קסניה סבטלובה
חבר כנסת באופוזיציה

change to - חברת כנסת

[2016-01-31 14:12] morchickit opened #497 "Add the following message to committees home page"
On the top of this page:
https://oknesset.org/committee/

"לתשומת לבכם, המידע על ועדות הכנסת אינו מעודכן, זאת מכיוון שמאגרי המידע הרשמיים של הכנסת, ממנו אנחנו שואבים את המידע, אינם מעודכנים. לקריאה נוספת על כיצד אנחנו משיגים את המידע, לחץ כאן"

[2016-01-31 14:26] morchickit opened #498 "הוסף דף תוכן - מקורות מידע"
Add a page - Website resources - אודות המידע בכנסת פתוחה

אתר כנסת פתוחה אוסף נתונים ממגוון מקורות על מנת להנגיש את המידע לציבור בצורה נוחה ופשוטה. ככל, אנחנו מנסים שרוב המידע לאתר כנסת פתוחה יגיע ממקורות רשמיים של הכנסת. הכנסת מציעה ממשק למפתחים בשם Application Programing Interface, או בקצרה API, שדרכו היא מפרסמת נתונים מהכנסת. לצערנו, ממשק הנתונים כרגע אינו עדכני בכמה מקרים, ולכן לא תוכלו לראות

[2016-01-31 18:47] morchickit opened #499 "Remove the following sections from the about page"
- מקורות הנתונים, אמינותם ועדכניותם
- אני רוצה לעזור בתוכן ופעילות האתר!
- תנאי שימוש
- מידע טכני

[2016-01-31 18:52] morchickit commented on #496
Added.

[2016-01-31 18:52] #496 closed

[2016-01-31 18:59] morchickit opened #500 "Add more "Did you know?""
משפטי "הידעת?" שלנו כרגע מאוד ישנים, צריך לרענן אותם קצת...

[2016-01-31 19:17] morchickit commented on #465
@OriHoch - where can I update this in the code base?

[2016-01-31 19:19] morchickit opened #501 "Add page - Terms of use"
Add the following content:
- השימוש באתר על אחריות המשתמש בלבד.
אנו משתדלים שהמידע שאנחנו מציגים לכם יהיה אמין ומדויק, אולם אין ביכולתנו להבטיח זאת.
באופן כללי, אל תעשו דברים לא חוקיים או לא נחמדים.
על כל פרסום (מקוון או לא מקוון. לרבות עיתונים, בלוגים, אתרים) המשתמש בנתונים מהאתר, לציין זאת. אם מדובר בפרסום מקוון - עליכם לקשר לאתר כנסת פתוחה. בשום אופן אין ליצור מצג כאילו "כנסת פתוחה" או מי מטעמה

[2016-01-31 19:24] morchickit commented on #463
Adding #407 to this tasks to avoid double work.

[2016-01-31 19:25] morchickit commented on #407
Added to #463 . Closing this.

[2016-01-31 19:25] #407 closed

[2016-02-01 07:31] shevyk opened #502 "Enable manual addition of Knesset "named" votes"
הצבעות שמיות
These votes are not registered electronically and do not appear on https://www.knesset.gov.il/vote/heb/vote_search.asp
see also - https://www.knesset.gov.il/vote/heb/VoteAbout.htm
according to the Social Guard, there have been some 30 such votes in this Knesset so far.

[2016-02-01 09:49] morchickit commented on #502
Can we have an example of one of these protocols?
I get a 403 with the link above so I dont understand if this is committee or plenum

[2016-02-01 09:56] RacheliRoval opened #503 "Add אכרם חסון and יגאל גואטה to the MK's list"
מסתבר ששניהם הושבעו בשבוע שעבר בחסות החוק הנורבגי:
אכרם חסון הצטרף לכולנו במקום כחלון (שכבר הוסר מהרשימה)
יגאל גואטה הצטרף במקום משולם נהרי (שמשום מה לא מעודכן ברשימת חברי הכנסת)

[2016-02-01 10:19] morchickit commented on #503
משולם נהרי זה גם כולנו?

[2016-02-01 10:20] RacheliRoval commented on #503
sorry... הוא בש"ס

[2016-02-01 10:25] morchickit commented on #503
אכרם חסון היה בכנסת ה- 18, אז יהיה לנו אותו. הועדות שלו עוד לא מעודכנות -
http://www.knesset.gov.il/mk/heb/mk.asp?mk_individual_id_t=854
יגאל גואטה - https://github.com/hasadna/Open-Knesset/issues/503

אין שום מידע על משולם נהרי באתר הכנסת...

[2016-02-01 10:39] RacheliRoval commented on #503
מוזר... אבל הוא בודאות היה ח"כ עד לפני רגע
look-
![default](https://cloud.githubusercontent.com/assets/16195243/12715050/c119aba2-c8e0-11e5-8540-c804b133dd88.png)

[2016-02-01 10:41] RacheliRoval commented on #503
הקטע הרלוונטי נחתך בטעות :)
![default](https://cloud.githubusercontent.com/assets/16195243/12715111/121d11c4-c8e1-11e5-9f07-8dd21a28cedd.png)

[2016-02-01 10:45] morchickit commented on #503
לא מצאתי אותו באתר... אני אסתכל יותר מאוחר היום.

[2016-02-01 18:34] morchickit commented on #465
Update here - https://github.com/hasadna/Open-Knesset/blob/master/templates/about.he.html#L63

[2016-02-01 20:04] OriHoch commented on #498
@morchickit - you can add pages yourself in the admin

check it out:
* https://oknesset.org/admin/flatpages/flatpage/1/
* https://oknesset.org/committee/help/

regarding this page - there is already a block in the about page regarding source of the data - so it should probably be updated, or removed and instead show a link to this new page..

[2016-02-01 20:24] Ralely opened #505 "Broken link to Government Position in all Bills proposals pages"
Government position (as concluded in the ועדת השרים לענייני חקיקה) (see example here https://oknesset.org/bill/9677/)  - re private bills is not drawn due to broken link (currently: http://www.pmo.gov.il/PMO/vadot/hakika/). This information is stored, as of today, in the following link: http://www.pmo.gov.il/Secretary/ministersCommissions/Pages/CommitteesSearch.aspx?PN=1

Additional research requi

[2016-02-01 20:27] morchickit commented on #498
Cool! @OriHoch - https://oknesset.org/admin/flatpages/flatpage/6/
now how do we add it to the toolbar?

[2016-02-01 20:27] morchickit commented on #498
I am updating the about page, work in progress. :]

[2016-02-01 20:44] OriHoch commented on #497
I added an option for an admin to add such messages without changing the code

it uses the flatpages model (דפים פשוטים) - you just need to add a page with:
* url = the url of the page you want to add the message to (in this case = /committee/)
* title = doesn't matter, only for internal book keeping
* content = the message content (can include html)
* optionally - in advanced options you can spec

[2016-02-01 20:54] OriHoch commented on #497
I added the committee message here:
* https://oknesset.org/admin/flatpages/flatpage/7/
displayed on the site:
* https://oknesset.org/committee/

[2016-02-01 21:08] OriHoch commented on #497
@morchickit  - assigning to you, please test and edit message if necessary

[2016-02-01 21:09] OriHoch commented on #498
there was a bug with how the page was displayed, fixed now and deployed

[2016-02-01 21:10] OriHoch commented on #498
@morchickit  - adding to toolbar will require code change, please open an issue..

[2016-02-02 19:44] alonisser commented on #501
Design? where should be displayed? page? modal? something else?

[2016-02-03 14:48] morchickit commented on #501
OMG, @alonisser is commenting! :-) Exciting! I think it would be good to add a link to it on the footer, like in any other website.
@OriHoch - should I add it through Django as a page and then open a task to link to it in the footer?

[2016-02-07 17:42] OriHoch commented on #490
meeting scraper was improved in [v2.8.0](https://github.com/hasadna/Open-Knesset/releases/tag/v2.8.0)

still some more work to do

[2016-02-07 23:01] morchickit opened #506 "Vote says none where there are actually votes"
https://oknesset.org/vote/9344/

[2016-02-07 23:01] morchickit commented on #506
![screen shot 2016-02-07 at 23 01 26](https://cloud.githubusercontent.com/assets/3273659/12876011/c1f5f64e-cdee-11e5-85f1-30a82107c373.png)

[2016-02-08 07:26] shevyk commented on #502
http://online.knesset.gov.il/PDF/48468/PDF_48468.PDF

[2016-02-08 10:15] morchickit commented on #497
It looks good. Closing. Will remove it when we fixed most of the bugs in the committee.

[2016-02-08 10:15] #497 closed

[2016-02-08 10:15] morchickit commented on #439
Where are we standing on this? Should I move it to milestone 2?

[2016-02-08 17:45] morchickit commented on #503
OK, updated Akram Hason.

As I thought, the Knesset didn't update the page for Meshulam Nehari ... See the current page for MK in the Knesset website -
![screen shot 2016-02-08 at 17 43 44](https://cloud.githubusercontent.com/assets/3273659/12893885/b0430bec-ce8b-11e5-93d9-09c49ed90893.png)

[2016-02-08 17:46] morchickit commented on #503
I am updating according to this page, but this is an archive page, not a current page... :-\
http://www.knesset.gov.il/mk/heb/mk.asp?mk_individual_id_t=222

[2016-02-08 17:54] morchickit commented on #503
All done.
Attention @yotammanor !

[2016-02-08 17:54] #503 closed

[2016-02-08 17:58] OriHoch commented on #463
@noamelf - I'm going to kidnap this issue from you..

[2016-02-08 18:27] kanija opened #507 "Title trimmed"
In 'הצעות חוק', when a title is longer than the paragraph <p> it is in, it is trimmed.
This might result in the user misunderstanding the title.
I suggest that in such cases we add "..." at the end of the visible part of the title.

[2016-02-08 20:16] noamelf commented on #463
I guess that's a good idea...

On Mon, Feb 8, 2016, 9:56 PM Ori Hoch <notifications@github.com> wrote:

--
Noam Elfanbaum
+972-545551680

[2016-02-08 23:46] morchickit opened #509 "Change links in the site's footer"
Current we have this.
![screen shot 2016-02-08 at 23 44 24](https://cloud.githubusercontent.com/assets/3273659/12903236/147d831c-cebe-11e5-871e-cdca8ad04ed6.png)

@OriHoch - If you can let me know which file i use to change, I will do it myself. I couldn't find it in templates.

[2016-02-10 17:00] OriHoch commented on #463
AFAIK all votes should appear now.. closing the issue and will open new one for testing

[2016-02-10 17:00] #463 closed

[2016-02-10 17:02] OriHoch opened #512 "test votes data"
after v2.9.0 was deployed today, all votes data should be on our site

Please test.. specifically:
* make sure no votes are missing
* make sure votes have correct data

[2016-02-10 18:29] morchickit opened #513 "Fix Alert about MK's that voting different from their peers in Coalition/opposition"
See this vote -
![screen shot 2016-02-10 at 18 27 59](https://cloud.githubusercontent.com/assets/3273659/12957332/0cdc9b90-d024-11e5-93c2-336b7c84e03f.png)

In the vote itself, it looks like the opposition all voted the same, yet they are all marked (besides Miki Levi)
![screen shot 2016-02-10 at 18 29 03](https://cloud.githubusercontent.com/assets/3273659/12957364/38d155e2-d024-11e5-8639-07eb7a31

[2016-02-10 18:32] morchickit commented on #513
Happens here-
https://oknesset.org/vote/9434/

And here - https://oknesset.org/vote/9424/
Here Tzipi Livni and Yael German are marked as coalition...

[2016-02-10 18:39] morchickit opened #514 "Add "abstains" or "Didn't vote" fields to votes"
Currently we don't show MK who "abstaining" from voting on a proposal or attending but not voting... This data are registered in the Knesset dataset

[2016-02-10 18:48] morchickit commented on #512
From the sample I did, all looks good!
 I did added some bugs that are connected to a different algorithm that analyse the data.

[2016-02-10 18:48] #512 closed

[2016-02-13 09:36] maryLoi opened #516 "broken image"
https://www.oknesset.org/member/878/%D7%99%D7%90%D7%99%D7%A8-%D7%9C%D7%A4%D7%99%D7%93/

יאיר לפיד -> אג'נדות בולטות ->  שקיפות המידע הציבורי לכנסת ה-20

התנועה לחופש המידע image is broken

[2016-02-13 14:31] alonisser opened #518 "Compress and concatenate static css and js for better site performance"
Current js and css statics are not minified and not concatenated. Which goes against best practices of modern (and not so modern :) ) web development practices and slows the site (especially on mobile). Not very fond of using something like django-compressor to fix that since I would prefer a pure front side tooling solution (such as a grunt/gulp based build process) but in the current state of th

[2016-02-13 15:09] morchickit opened #519 "Add link to about page at the header"
Currently, link to about page is on the bottom. Add link somewhere in the header - Either to the tool bar or on the top left corner

[2016-02-13 15:11] morchickit opened #520 "Hide הצעות לסדר יום section from the main committee page"
Currently this part is not updated at all, and it is based on old user suggestions.

[2016-02-13 15:16] morchickit commented on #509
@noamelf - can you guide me here maybe?

[2016-02-13 15:17] OriHoch commented on #509
this is the relevant code:
https://github.com/hasadna/Open-Knesset/blob/master/templates/site_base.html#L170

[2016-02-13 15:22] morchickit commented on #509
On it!

[2016-02-13 15:23] morchickit commented on #509
Dont I need to add new terms here as well?
https://github.com/hasadna/Open-Knesset/blob/master/locale/he/LC_MESSAGES/django.po

[2016-02-13 15:48] morchickit commented on #509
Done. Ori, please check it to see that I didn't messed anything...

[2016-02-13 16:09] maryLoi opened #521 "filter in "votes" doesnt work"
the filter for
סוג הצבעה:
הצעת חוק:

does nothing

[2016-02-13 16:52] alonisser commented on #520
Do you mean the part: "הצעות ממתינות"? which I admit is currently quite strange

[2016-02-13 17:00] morchickit commented on #520
הצעות ממתינות only admins can see. I mean this:
![screen shot 2016-02-13 at 16 59 56](https://cloud.githubusercontent.com/assets/3273659/13028857/5638ae7c-d273-11e5-8018-da2fa3659ca6.png)

[2016-02-13 17:02] alonisser commented on #506
What does the db show? is it a scraping problem or a logic problem in the site while the db does show the votes? (I don't have access to the db.. :) )

[2016-02-13 17:05] morchickit commented on #520
@alonisser @shevyk @RacheliRoval - When I think about it, there is no description anywhere about what הצעות לסדר יום suppose to do. I assume it is for users to mark important sessions fro them. I think we should hide it until we will understand if we want to keep it or not.

[2016-02-13 17:08] morchickit commented on #506
I thought that was fixed on Monday, but when I looked at it now, I see it wasn't fixed. @OriHoch will know what it can be...

[2016-02-13 17:12] alonisser commented on #520
@morchickit Hiding for now is trivial. Should I?

[2016-02-13 17:20] alonisser commented on #520
@morchickit  BTW I don't think I'm an admin and yet I do see "הצעות ממתינות" I just registered to the site and saw it

[2016-02-13 17:21] alonisser opened #522 "How to contribute section has a link to oknesset-dev google group"
Which I believe is wrong. Should change to what? (if needs to change)

cc: @morchickit

[2016-02-13 17:26] alonisser commented on #521
Did you press "סינון" after choosing the filter? Or do you mean something else? I would agree this UX is horrible but this is a different bug

[2016-02-13 17:37] morchickit commented on #522
I will do as part of the about page tomorrow. :)
On Feb 13, 2016 5:21 PM, "Alonisser" <notifications@github.com> wrote:

[2016-02-13 17:38] morchickit commented on #520
Please do!
And good to know about הצעות ממתינות, i will look at it

[2016-02-13 17:40] alonisser commented on #522
Actually looks hard coded in the site code. maybe something old. Update if needs change

[2016-02-13 17:42] morchickit commented on #522
it's fine, I'll speak about this with Ori tomorrow

On Sat, Feb 13, 2016 at 5:40 PM, Alonisser <notifications@github.com> wrote:

[2016-02-13 17:51] alonisser opened #523 "Looks like export functionality is broken"
Any thing I tried get an  "ERR_INVALID_RESPONSE"
[example broken link](https://oknesset.org/api/v2/vote/?from_date=&tagged=all&vtype=second-call&order=time&to_date=2016-02-13&format=csv&limit=0)

The bug seems to be that the generated url doesn't have a valid from_date, adding manually solves export

Might be solved backend (disregard the missing from_date) frontend (send a correct link) But someo

[2016-02-13 19:16] morchickit opened #524 "Change the link to terms of use"
In the footer -
חלק מהזכויות שמורות. שימוש בנתונים מהאתר בכפוף לקרדיט - פרטים בקישור

[2016-02-13 19:17] morchickit commented on #524
Change it from 'about' to 'terms-of-use
https://oknesset.org/terms-of-use/

@OriHoch - this will be pushed in the next version, right?

[2016-02-13 19:18] morchickit commented on #501
Content is here -
https://oknesset.org/terms-of-use/

I have opened a new issue to change the footer (which I also already did).
Closing this.

[2016-02-13 19:18] #501 closed

[2016-02-13 19:22] morchickit commented on #499
OK, we need to update who support the project. The current text is as followsÑ
הפרויקט מבוסס כולו על מתנדבים, ולא נתמך ע"י אף גוף מפלגתי. יש מעט תמיכה מגופים מסחריים (ראו למטה).
 @shevyk - who should I add?

[2016-02-13 19:26] alonisser commented on #520
done. in PR

[2016-02-13 19:29] alonisser commented on #523
More specifically export is broken if a filter is chosen. base view without filter exports works

[2016-02-13 19:38] morchickit opened #525 "Make footer shorter"
Currently, it is too long and has lots of spaces -
Example from Chrome:
![screen shot 2016-02-13 at 19 36 39](https://cloud.githubusercontent.com/assets/3273659/13029625/368610a4-d289-11e5-8ef8-b91ff370d8a6.png)

Suggested solutions:
Move the following sentence up: חלק מהזכויות שמורות. שימוש בנתונים מהאתר בכפוף לקרדיט - פרטים בקישור

[2016-02-13 19:55] morchickit opened #526 "Add the Ethics Committee"
Currently it's not on Open Knesset...
http://main.knesset.gov.il/Activity/Committees/Ethics/Pages/default.aspx

@OriHoch - Do I need to add manually?

[2016-02-13 20:05] alonisser commented on #514
@morchickit  can you be more specific where this should be displayed?

[2016-02-13 20:09] morchickit commented on #514
Currently display for each vote the MK that voted for and against a bill. However, there are also votes that are abstained (נמנע) which for some reason we don't show.
See this screenshot from the Knesset website:
![screen shot 2016-02-13 at 20 08 44](https://cloud.githubusercontent.com/assets/3273659/13029783/a9ceff90-d28d-11e5-896d-2a3d6e790632.png)

[2016-02-13 20:11] morchickit commented on #439
Moving to 20.2...

[2016-02-13 20:16] morchickit commented on #473
This is still going on. @OriHoch - Can I fix it manually or do you need to work on this?

[2016-02-13 20:16] alonisser commented on #514
Looks like this data is already scraped and in the model (also I can't check without access to the production db) but my question was where and how do you want to display this..screenshot would be best (I'm just wiring the backend now, so adding the front is next thing to do)

[2016-02-13 20:21] morchickit commented on #514
OK... so:

In the main "votes" pages - https://oknesset.org/vote/
I would like to ad the number of abstain in a white circle
![screen shot 2016-02-13 at 20 19 32](https://cloud.githubusercontent.com/assets/3273659/13029838/49da9f84-d28f-11e5-9ef0-683c0d85f8c3.png)

In the the specific vote page, to add a box under the for and against vote -
![screen shot 2016-02-13 at 20 19 19](https://cloud.githu

[2016-02-13 20:51] alonisser commented on #514
@morchickit Please separate two different issues. I can close the main votes pages now, but the second Issue I need to learn the code first, see if we have the data etc.. So better to separate

[2016-02-13 20:54] alonisser commented on #514
I'll close this issue with the first change, so open another for the second

[2016-02-13 21:02] morchickit commented on #514
Go for it. :-)

[2016-02-13 21:04] alonisser commented on #514
Done :)

[2016-02-13 21:44] alonisser commented on #526
@morchickit I think you need to add through the admin, I can add it through a db migration if needed, but not sure what is the practice in this project

[2016-02-13 22:47] alonisser commented on #438
@AnatKatz @OriHoch This issue is actually two different issues. and should be seperated
1. Order, I fixed easily (also still baffled why front end django templates disregard backend ordering, not a fan of django templating anyhow)

2. Double/triple existing meetings, which is a scraper issue, which  might be tough to fix, I suspect there are "small" differences between the wording of the meeting s

[2016-02-14 06:55] alonisser commented on #514
Never mind.. I'll add the extra commit here

[2016-02-14 06:58] OriHoch opened #527 "Continuous Deployment"
Each release of Open Knesset knesset has a tag on GitHub, for example: https://github.com/hasadna/Open-Knesset/releases/tag/v2.9.0

I would like to be able to deploy a specific version to an environment.

Currently, we have only 1, production environment, but I would like to support any number of different environments.

Each environment should have all it's settings provided externally (e.g. usin

[2016-02-14 07:04] OriHoch commented on #527
Each environment should have different roles

Currently, we have 2 known roles:
# web - runs the web app, there can be multiple instances of this role in an environment
# data - runs the scheduled tasks, there can be only one

[2016-02-14 07:06] OriHoch commented on #527
The DB and any other external resources should not be part of this instance, they should be connected using the instance parameters.

[2016-02-14 07:19] alonisser commented on #527
Is Oknesset Using AWS? then db/memcache/redis should be using amazon services, RDS for postgres ELASTICCACHE for redis/memcache etc.   Using user data is actually an anti pattern (mostly manual in AWS). I believe (and practice.. ) it's better to deploy an .envs file as part of the deployment process, source it in .bashrc and put ENVIRONMENT variables there and/or in the supervisord.conf (which sho

[2016-02-14 08:23] OriHoch opened #528 "duplicated committee meetings"
in #438 - there was mention of duplicated committee meetings

looks like a scraper problem, probably won't happen again once we moved to getting meetings from api, but it's worth looking into it

[2016-02-14 08:24] OriHoch commented on #438
thanks, the duplicated meetings problem hopefully was solved once we changed to use the knesset api directly, but I opened #528 to check again.

[2016-02-14 08:40] #514 closed

[2016-02-14 08:40] #520 closed

[2016-02-14 08:40] #523 closed

[2016-02-14 08:57] OriHoch commented on #438
@alonisser  - looks like it's not fixed, this is after deployment of v3.0.0:
![image](https://cloud.githubusercontent.com/assets/1198854/13032798/b46f2fe8-d309-11e5-8472-1c01ba753ad1.png)

[2016-02-14 10:02] alonisser commented on #438
Yap, I need to look at the db to find out what's happening.. and recreate this with a test.. can't recreate this locally

[2016-02-14 10:24] OriHoch commented on #527
I'm used to working with user data and launch configurations, but I'm open to any other implementation..

[2016-02-14 10:47] morchickit commented on #509
OK, it didn't change it in the django.po @OriHoch - what did I do wrong?

[2016-02-14 11:02] OriHoch commented on #509
please link to the pull request where the change was done

[2016-02-14 11:09] habeanf commented on #527
We're on AWS but we don't use RDS. The primary DB server also runs the cron
jobs, including the presence code which needs to be rewritten at some point.

While it was free, we used Elasticache, but then we moved back to having
memcached on the DB server.

We don't use supervisor because we didn't feel we need it yet, but it would
be great to have it if you'd like to work on it. Ideally we'd docker

[2016-02-14 11:19] alonisser commented on #513
@morchickit  Can you find an example in the test db so I can debug this?

[2016-02-14 11:29] habeanf commented on #527
I just noticed dockerisation is the issue. Anyhow, we started working on a dockerised DB server at one of the hackathons. I dropped it when I couldn't figure out how to give postgres a non-docker directory for the DB files.

[2016-02-14 11:46] shevyk commented on #499
@morchickit I'll prepare an updated list on Monday.

[2016-02-14 12:06] alonisser commented on #527
I'm for using Amazon whatever possible, while dockerisation of  postgres is
possible I would not do this on the production environment and rather have
an optimized db instance and configuration and not hack a postgres
instance my self. Supervisor is easy, I can do a supervisor file if
preferred

Twitter:@alonisser <https://twitter.com/alonisser>
LinkedIn Profile <http://www.linkedin.com/in/aloniss

[2016-02-14 12:19] habeanf commented on #527
If you've got a solution for the cron jobs you'll have my vote to move to RDS.

[2016-02-14 12:35] alonisser commented on #527
They can run on a micro instance..
Or utilize [data pipeline[(
http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/what-is-datapipeline.html)
Didn't try that my self but looks like the right direction
I can research that

Twitter:@alonisser <https://twitter.com/alonisser>
LinkedIn Profile <http://www.linkedin.com/in/alonisser>
Facebook <https://www.facebook.com/alonisser>
*Tech blog:*4p-

[2016-02-14 13:02] morchickit commented on #513
@alonisser - You assume I have access to the test DB? :-)

[2016-02-14 13:03] morchickit commented on #509
I assume it is this - https://github.com/hasadna/Open-Knesset/pull/529

[2016-02-14 13:11] alonisser commented on #513
yap

Twitter:@alonisser <https://twitter.com/alonisser>
LinkedIn Profile <http://www.linkedin.com/in/alonisser>
Facebook <https://www.facebook.com/alonisser>
*Tech blog:*4p-tech.co.il/blog
*Personal Blog:*degeladom.wordpress.com
Tel:972-54-6734469

On Sun, Feb 14, 2016 at 3:02 PM, morchickit <notifications@github.com>
wrote:

[2016-02-14 13:13] habeanf commented on #527
I suggest you take a look at what the cron jobs do. I'll add the current
cron from production as a comment

On Sun, Feb 14, 2016 at 2:35 PM, Alonisser <notifications@github.com> wrote:

[2016-02-14 13:18] OriHoch commented on #527
Updated crontab is at https://github.com/hasadna/Open-Knesset/blob/master/deploy/crontab.txt

[2016-02-14 13:22] alonisser commented on #527
@habeanf  looks like what I suggested could work. working example using ecs + data pipelines here:
[working example](https://alexcsantos.wordpress.com/2015/06/21/cron-with-aws-data-pipeline-and-aws-ecs/)

[2016-02-14 13:22] habeanf commented on #527
Also, AWS Data Pipeline looks interesting but take into consideration the following:
a. The sadna in general would like to move to Google Cloud Platform, so we wouldn't want to be tied to AWS-specific infrastructure
b. It looks like we have to pay for all these jobs, of which we have ~10 "low frequency" and 4-5 "high frequency".. That will add another ~$10 a month..

[2016-02-14 13:26] alonisser commented on #527
So a micro instance + RDS is also out of consideration (since RDS is a
specific AWS offering)  ?

Twitter:@alonisser <https://twitter.com/alonisser>
LinkedIn Profile <http://www.linkedin.com/in/alonisser>
Facebook <https://www.facebook.com/alonisser>
*Tech blog:*4p-tech.co.il/blog
*Personal Blog:*degeladom.wordpress.com
Tel:972-54-6734469

On Sun, Feb 14, 2016 at 3:22 PM, Amir More <notifications@

[2016-02-14 13:32] morchickit commented on #513
I guess you mean this?
https://oknesset.org/admin/laws/vote/9434/

[2016-02-14 13:38] habeanf commented on #527
RDS is a problem in that sense, yes.
Also, RDS is more expensive, especially for Multi-AZ deployments. For fairness, we're currently using an m1.small for master DB and a t2.small for slave but replication broke and it was never reset. Ideally we'd have something like 2x m1.small. I think I checked and the difference price is almost 2x. We're in the EU Ireland region without reserved instances. Pa

[2016-02-14 13:42] habeanf commented on #527
I checked prices, 2x m1.small would be 0.094 / h while RDS would be 0.128 (Postgres, Multi-AZ, EU Ireland). That works out to $25 a month. Also the primary DB does the cron jobs, so no need for a micro either. But I do agree its quite ad-hoc and systematic solution is better; case in point being replication is not working at the moment.

[2016-02-14 14:04] alonisser commented on #527
No replication 😲 .. ok so RDS is currently not an option
But we can setup a db in google cloud and just use it from AWS cloud..

Twitter:@alonisser <https://twitter.com/alonisser>
LinkedIn Profile <http://www.linkedin.com/in/alonisser>
Facebook <https://www.facebook.com/alonisser>
*Tech blog:*4p-tech.co.il/blog
*Personal Blog:*degeladom.wordpress.com
Tel:972-54-6734469

On Sun, Feb 14, 2016 at 3:4

[2016-02-14 14:05] habeanf commented on #527
Well once the web server is dockerised we can do everything from google cloud..

[2016-02-14 14:11] habeanf commented on #527
And no, no replication. There used to be replication but it broke and I never reset it :flushed:
However we do have a daily backup to S3 which I check and use periodically, so its bad but not that bad.

[2016-02-14 14:19] habeanf commented on #527
Re: using a micro instance to run the jobs. One interesting approach could be to have that instance start up automatically on demand, like in the link you provided. It might require more than meets the eye because its important we get the logs from the runs, especially if scraping is failing.

[2016-02-14 19:49] alonisser commented on #513
any example maybe in the under 8000 (id number) votes? scraping on my computer to get to 9434 takes hooorrrrsssss

[2016-02-14 19:54] morchickit commented on #513
Oh, that would be a challenge. I think this happens only on the the 20th Knesset...

[2016-02-14 19:57] alonisser commented on #513
ok.. I'll let the scraping run for the night. hopefully until I need to go to work we'll pass the magic number

[2016-02-14 19:57] morchickit commented on #513
Lucky you! I found one - https://oknesset.org/vote/7923/
It's from the 19th Knesset. I guess the code doesn't know how to deal when we switch members from opposition to coalition

[2016-02-14 19:59] morchickit commented on #513
Oh, wait, actually, in this bill it is right - Haredi, in the opposition are voting with the Coalition, and coalition is voting with the opposition.

[2016-02-14 20:00] alonisser commented on #513
If the issues is switching members from opposition to coalition then this would get messy solving (especially for past data)

[2016-02-14 20:03] morchickit commented on #513
So past data is fine. Current Knesset is a mess. This specific vote as well, since all of the opposition members here were opposition in the last Knesset too.

[2016-02-14 20:20] alonisser commented on #471
@morchickit  אמנם זה לא דחוף אבל בכל זאת בואי נקדים תרופה למכה
יש לזה עיצוב?
לא הייתי סוגר את זה ע"י המתכנתים בלבד..

[2016-02-14 20:20] alonisser commented on #493
@morchickit  again, needs design before moving forward to work

[2016-02-14 20:23] morchickit commented on #471
This is milestone 20.3. Let's review it when we will get to it? :-)

[2016-02-14 20:38] morchickit opened #530 "Omit feature public opinion from bills"
I really don't think we should have this feature...
@shevyk ?
![screen shot 2016-02-14 at 20 37 57](https://cloud.githubusercontent.com/assets/3273659/13036283/f61a831a-d35a-11e5-9cde-c115399c8d6c.png)

[2016-02-14 21:09] shevyk commented on #530
I agree. It's not being used at all.

---
Shevy Korzen, CEO
The Public Knowledge Workshop
Tel. 972.558.837.613
shevy@hasadna.org.il | @hasadna
http://www.hasadna.org.il

On 14 February 2016 at 22:38, morchickit <notifications@github.com> wrote:

[2016-02-14 21:35] alonisser commented on #513
@morchickit  I think I found the problem:
Take a look at https://oknesset.org/admin/mks/coalitionmembership/
there are no coalition memberships for current knesset parties!(there is a Party model of each knesset) so the way the algorithm works I think that all the actual coalition mks there would be calculated as "the opposition view" for this .
Fixing this would be the first step going ahead. The

[2016-02-14 21:47] alonisser commented on #513
@morchickit  I also think there should be some kind of "check list" of things that should not be forgotten in new knesset..

[2016-02-14 22:43] alonisser commented on #506
No data in DB also
https://oknesset.org/admin/laws/vote/9344/
Might be a scraping bug? @OriHoch

[2016-02-14 23:54] morchickit commented on #513
@alonisser - thanks for spotting that!
I will update it in the DB.
and a big +1 for documentation for the the next Knesset.
Will add it to our list.

[2016-02-15 00:07] morchickit commented on #513
Done! I added end dates to previous coalition members and updated the new parties in the coalition. LMK if you need me to do anything else.

[2016-02-15 00:33] morchickit commented on #526
I added the ethics committee to the DB. I think now we just need to link it to the appropriate protocols that we bring from the API? @OriHoch , ideas?

[2016-02-15 00:35] morchickit commented on #473
OK - there are two committees in the same name in the DB, and therefore the confusion. @OriHoch should I just delete one of them? It looks like this one is the faulty one- no committee members in the db - https://oknesset.org/admin/committees/committee/33/

[2016-02-15 05:15] OriHoch commented on #473
I hid that committee (checked the "hide" checkbox in the committee admin)

[2016-02-15 05:16] OriHoch commented on #473
about the meetings - there is currently a bug preventing scraping of meetings of this specific committee (https://github.com/hasadna/knesset-data/issues/16) Once that bug is fixed we should have the committee meetings.

[2016-02-15 05:24] OriHoch commented on #526
looks like they don't publish protocols for this committee.. that's also why it didn't appear in the first place

could you please have a look and see if you can find any protocols for this committee on knesset website?

[2016-02-15 07:35] alonisser commented on #513
Thanks,
1. I run the "update_vote_properties" on this specific vote and it looks fixed now (for opposition)
I'll prepare a management command to update all the votes from current knesset . so we can fix all of them.
2. Now I can see another issue there, two coalition members are flagged as "voted against the opposition" please open a different ticket for that. I think this is a different issue

[2016-02-15 15:22] OriHoch commented on #513
@alonisser  - please write in the v3.1.0 release notes what needs to run to update all votes
it can be python code to run in django shell on the server
https://github.com/hasadna/Open-Knesset/releases/tag/untagged-4c94ff56aac33c97c6a0

[2016-02-15 17:14] noamelf commented on #498
@morchickit I'll add it the lower toolbar.

[2016-02-15 17:54] morchickit commented on #498
Thank you! :-)

[2016-02-15 17:59] morchickit commented on #526
So this committee doesn't have protocols, they have a different type of doc called "החלטות ועדת האתיקה" . There is a link to all of them - http://main.knesset.gov.il/activity/committees/ethics/Pages/CommitteeDecisions.aspx
כל חברי הועדה חייבים לנכוח בה כשהיא מתכנסת..

[2016-02-15 18:01] morchickit commented on #526
BTW - the ethics committee also updates this document, which approves MK's trips abroad. I think that making this accessible to the public is also important. http://main.knesset.gov.il/Activity/committees/Ethics/Documents/MkAbroad.pdf

[2016-02-15 18:04] morchickit commented on #524
It works!

[2016-02-15 18:04] #524 closed

[2016-02-15 19:04] morchickit opened #532 "Open a 'volunteer' page"
Move content from About Page to dedicated volunteer page. I just have no idea where to put the link to page on the website itself

[2016-02-15 19:34] OriHoch opened #534 "automate the committee scraping process"
currently the data about committees is not scraped automatically

this data is currently available in the knesset dataservice APIs - we should scrape it automatically from there.

Here is a list of issues which this issue will (/should) solve:

* #387
* #471
* #473
* #528
* #526
* #492

[2016-02-15 19:34] OriHoch commented on #387
this will be fixed in #534

[2016-02-15 19:34] OriHoch commented on #471
this will be fixed in #534

[2016-02-15 19:34] OriHoch commented on #473
this will be fixed in #534

[2016-02-15 19:34] #473 closed

[2016-02-15 19:35] OriHoch commented on #528
this will be fixed in #534

[2016-02-15 19:35] #528 closed

[2016-02-15 19:35] OriHoch commented on #526
this will be fixed in #534

[2016-02-15 19:35] #526 closed

[2016-02-15 19:35] OriHoch commented on #492
this will be fixed in #534

[2016-02-15 19:35] #492 closed

[2016-02-15 19:59] morchickit commented on #516
It works on my browser...

[2016-02-15 20:04] OriHoch commented on #502
had a talk with Aran, they will send a new CSV file which should contain member IDs instead of names

This change will be done in Knesset-Data project, documented in this issue: https://github.com/hasadna/knesset-data/issues/18

Once that's done, I will complete our side to allow to import this data into Open Knesset

[2016-02-15 20:12] OriHoch opened #536 "make sure the stream logger doesn't write anything to files"
the stream logger (introduced in #531) is great, but we just need to make sure this output is not somehow written to files (because a lot of debug info might be output there)

[2016-02-15 20:13] OriHoch commented on #536
some places I can think of:
* cronjobs
* supervisor

[2016-02-15 20:13] RacheliRoval opened #537 "Add additional explanations about the work of the committies and the bills"
The other Racheli and I made explanations docs about committies and the bills:

https://docs.google.com/document/d/1wAiTnwTZMKA-CpJEItNYCvjLc8O-928OdqXTsi2qqAM/edit?usp=sharing

https://docs.google.com/document/d/1FKEJfLgHWzh5eX-qfU8wtxj9qr-nHdbAX1IXhp9tQYI/edit?usp=sharing

@morchickit we need to think/discuss how to combine them in the relevant pages.

[2016-02-15 20:18] alonisser commented on #536
I'll check, Although supposedly they aren't supposed to bother each other. are we using supervisor to run? if so where is the config so I can check how logging is handled (usually supervisor is logging from stdout/stderr to a file rotating defined in it's setup, so actually it can replace the django file logger currently used ) you can cherry pick this out of the current PR and I'll build a fuller

[2016-02-15 20:18] morchickit commented on #447
I have update this now. Attention @shevyk and @RacheliRoval

[2016-02-15 20:22] Racvar opened #538 "Bug: False/inaccurate information on previous opposition/coalition roles of MK"
User is able to click on additional information in order to view the MK's position in previous Knessets (I think). However, data is not clearly defined/inaccurate (see in the example of Lapid, who for the most part was in the coalition in the previous knesset).

![mk](https://cloud.githubusercontent.com/assets/16467715/13059394/72b9e38e-d432-11e5-9972-0d36604bc06e.jpg)

[2016-02-15 20:25] alonisser commented on #513
@OriHoch added as requested

[2016-02-15 20:32] Racvar opened #539 "Revised Terms and Conditions"
Gently refined and thickened the terms and conditions, see the link attached below.

https://docs.google.com/document/d/13dkPaMpD2PD0bADEAUpFHvB8JFoXpOmMqDo5lS7VOoQ/edit?usp=sharing

[2016-02-15 20:33] alonisser commented on #447
@morchickit  would you need an ability for a simple export from admin to excel? (and ability to filter those unlisted bills) ? this is clearly supposed to be achievable by non dev when needed

[2016-02-15 20:34] morchickit commented on #447
It exist already on the votes page on the OKnesset website, Any reason to prefer it from Admin?

[2016-02-15 20:49] noamelf commented on #534
* #387 - Add subcommittee to the data model
* #471 - Add committee type to the data model, maybe present it to the in the UI.
* #473 - Doesn't have meetings hence doesn't show now.
* #528 - Find a way to handle duplicate meetings
* #526 - Find out why it doesn't.
* #492 - Add committee members to the data model.

[2016-02-15 21:08] noamelf commented on #498
Added to v3.1.0

[2016-02-15 21:08] #498 closed

[2016-02-15 21:47] shevyk commented on #499
@morchickit https://docs.google.com/document/d/12ufSoTitnIA_tf4FggZ6TTtS8mfSHFyCNL6e23UT080/edit#

[2016-02-15 21:50] alonisser commented on #447
Ah ok, I meant filter unlisted.. but if exists on the website then of course no need for that

[2016-02-16 07:03] alonisser commented on #350
@morchickit  this needs some more defining:
1. UI - what exactly should be displayed with a hovering underline and what not (other similar modules are similar but not the same, so I can't compare ) - This is one issue and should be seperated (as starter and front end)
2. "lot of meetings"  - how many meeting would you like to display? (not front end and perhaps not starter, not sure about what tha

[2016-02-16 07:13] alonisser commented on #532
2-3 places I believe - near "תרמו לסדנא" in the footer. near "about" in the
footer are two obvious choices
I would also add a "תרמו לסדנא" and "התנדבו לסדנא" some where in the header
perhaps between the login and search

Twitter:@alonisser <https://twitter.com/alonisser>
LinkedIn Profile <http://www.linkedin.com/in/alonisser>
Facebook <https://www.facebook.com/alonisser>
*Tech blog:*4p-tech.co.il/

[2016-02-16 11:26] #438 closed

[2016-02-17 11:29] yotammanor opened #541 "Add feed of Facebook Statuses (from Kikar) to MK page"

[2016-02-17 11:31] yotammanor opened #542 "Add feed of Facebook Statuses (from Kikar) to Party page"
A combination of all statuses by mks who are currently part of the given party.

[2016-02-17 11:33] yotammanor opened #543 "Add feed of Facebook Statuses (from Kikar) to Committee's detail page"
Search all statuses where given tag is mentioned as text, or is tagged with the same tag.

[2016-02-17 11:34] morchickit commented on #516
I am closing it. it works on my machine.

[2016-02-17 11:34] #516 closed

[2016-02-17 11:42] yotammanor commented on #543
might be only search in content, since tagging in kikar is not done on a frequent basis, and developing it might not be cost-effective.

[2016-02-17 11:43] morchickit commented on #350
So, i am confused here, because I don't see any of these in the current specific committee list page, besides number 3...

@OriHoch - can I close this and open new issues?

[2016-02-17 11:54] OriHoch commented on #350
This issue refers to the tag page ([like this one](https://oknesset.org/tags/%D7%91%D7%98%D7%97%D7%95%D7%9F%20%D7%A4%D7%A0%D7%99%D7%9D/)), I updated the issue description to clarify

This issue is still valid and the bugs occur, if you want to split it into 3 different issues you are welcome to do that..

[2016-02-17 12:00] alonisser commented on #350
@morchickit  @OriHoch 1. I fixed, 2 I can't find an example for.

About three I need some definition of what's desired. I can just return the first 10 and if clicks on show more display the rest in the same page..  or move to another page (committee meeting by tags - new or existing page.. ) or .. option one would be the simplest of course but It's really an UX matter

[2016-02-17 12:07] OriHoch commented on #350
about 2 - I recreated it on [this page](https://oknesset.org/tags/%D7%91%D7%98%D7%97%D7%95%D7%9F%20%D7%A4%D7%A0%D7%99%D7%9D/) - by tagging that plenum meeting with the "בטחון פנים" tag.

![image](https://cloud.githubusercontent.com/assets/1198854/13109053/b8ce9268-d57f-11e5-97be-39b943309bdf.png)

[2016-02-17 12:09] OriHoch commented on #350
easiest fix for this is just to remove the plenum meetings by adding something like this:
meetings_queryset.exclude(committee__type='plenum')

[2016-02-17 12:11] alonisser commented on #350
of course, I just wanted to recreate so I can see I fixed it..  :) thanks!

Twitter:@alonisser <https://twitter.com/alonisser>
LinkedIn Profile <http://www.linkedin.com/in/alonisser>
Facebook <https://www.facebook.com/alonisser>
*Tech blog:*4p-tech.co.il/blog
*Personal Blog:*degeladom.wordpress.com
Tel:972-54-6734469

On Wed, Feb 17, 2016 at 2:09 PM, Ori Hoch <notifications@github.com> wrote:

[2016-02-17 14:46] OriHoch commented on #449
I'm working on it

[2016-02-17 15:18] OriHoch commented on #449
there were 13 votes with this problem, not sure where they came from.. I fixed them manually

I also did a minor fix to votes_scraper which should prevent this from happening in the future

[2016-02-17 15:19] OriHoch commented on #506
there were 13 votes with this problem, not sure where they came from.. I fixed them manually

I also did a minor fix to votes_scraper which should prevent this from happening in the future

[2016-02-17 15:48] #506 closed

[2016-02-17 15:52] #449 closed

[2016-02-17 16:12] OriHoch opened #546 "when recreating a vote - vote id shouldn't change"
### Reproduction Steps
* look for a vote on the site, note it's url (e.g. https://oknesset.org/vote/8361/)
* go to admin > laws > votes
* check the checkbox next to this vote and run the action "recreate votes" on it
* now, try to go to it's old URL

#### Expected
* vote should appear on the same URL (with the same vote id)

#### Actual
* 404 Page Not Found error (because the vote id doesn't exist

[2016-02-17 16:25] OriHoch opened #547 "we should have a process that ensures all votes data is correct"
currently, we have some old votes which might be wrong, for example - if an MK was not recognized and now we do recognize him, the vote might not have the correct member.

Need to go over all votes (at least of current knesset), compare their data with the new scraper data and fix / recreate the votes

This is also related to #449

[2016-02-17 16:25] OriHoch commented on #449
there are still a lot of problems with votes scraped with the old scraper. This will be handled in issue #547

[2016-02-17 17:00] alonisser commented on #546
@OriHoch not sure why this is important, since all other functionality would work. Only problematic (I think) if a user bookmarks this deep link for some reason.

[2016-02-17 18:31] OriHoch commented on #546
the case of a direct link to a vote is what worries be.. for example, people might link to a vote from Facebook or other site

Not sure if it actually happens but I think it should be easy to fix so worth fixing it

[2016-02-18 00:02] noamelf commented on #532
+1.
We want to make bringing more developer a high priority. Maybe even add a "fork me on Github" ribbon.

[2016-02-18 08:21] alonisser commented on #532
I against "fork me on github" ribbon, since the main users of this site are
not software developers and we don't want to alienate them

Twitter:@alonisser <https://twitter.com/alonisser>
LinkedIn Profile <http://www.linkedin.com/in/alonisser>
Facebook <https://www.facebook.com/alonisser>
*Tech blog:*4p-tech.co.il/blog
*Personal Blog:*degeladom.wordpress.com
Tel:972-54-6734469

On Thu, Feb 18, 2016

[2016-02-18 08:33] morchickit commented on #532
Agreed, but a little icon of Github at the footer won't hurt...
On Feb 18, 2016 8:21 AM, "Alonisser" <notifications@github.com> wrote:

[2016-02-18 08:47] noamelf commented on #532
I agree, with both of you

On Thu, Feb 18, 2016 at 10:33 AM morchickit <notifications@github.com>
wrote:

--
Noam Elfanbaum
+972-545551680

[2016-02-18 09:15] noamelf opened #548 "Add antiword to environment setup requirements"
Antiword is missing right now and the scraper breaks because of it...

[2016-02-18 19:35] alonisser commented on #547
@OriHoch Is there an algorithm allowing us to identify wrong votes? running on all votes is quite expensive (currently)

[2016-02-18 19:46] OriHoch commented on #547
yes, there should be a better way, I'm working on it..

[2016-02-19 09:41] OriHoch opened #549 "votes scraping is not working due to knesset bug"
New votes are not being added due to this bug in the official Knesset APIs: https://github.com/hasadna/knesset-data/issues/19

[2016-02-19 11:49] alonisser commented on #519
in the right side there is already a logo and link to open knesset, maybe one of them should lead to the about page? since currently both lead to the same base oknesset url?

[2016-02-19 11:53] alonisser opened #550 "Apologetic wording in about"
front page:

האתר עדיין בפיתוח, ואנו מתנצלים מראש על באגים ושגיאות בנתונים.

Maybe:
האתר נמצא בפיתוח פעיל. אנא דווחו לנו על באגים ו/או שגיאות בנתונים.

[2016-02-19 18:28] alonisser opened #551 "Inconsistency between footer and header links"
header doesn't show tags but shows lobbyists .
footer doesn't show lobbyists but doesn't show tags

Is this a decision? mistake? I  guess almost no one would get to the tags view without a link

[2016-02-20 15:29] alonisser opened #554 "Agendas with no voting data show a random list of mks as "most supporting" and "most against""
all with zero percent vote
I guess the correct UI would be just showing empty boxes (or not showing the most supporting and most against boxes at all)
Any other ideas on that?

![zero_vote_agenda](https://cloud.githubusercontent.com/assets/1434992/13197482/6f11fe88-d7f7-11e5-9fc5-bc44afbeea29.png)

[2016-02-20 16:32] morchickit commented on #554
:-\ It's Agendas, for now this is low priority...

[2016-02-20 16:34] morchickit commented on #551
Great spot! I'll speak about the whole tags strategy on Monday! @OriHoch - is that ok?

[2016-02-20 16:36] morchickit commented on #519
Yes, I thought they are both the same link. Alright. I'll change it.

[2016-02-20 17:01] alonisser commented on #551
@morchickit great, update on resolution..

[2016-02-20 17:02] alonisser commented on #554
easily solvable..

[2016-02-20 21:31] noamelf commented on #550
+1

[2016-02-20 21:59] alonisser opened #555 "Some coalition members are flagged in votes as "voting against opposition""
related to bug #513 but different cause and solution
see for example [vote 9434](https://oknesset.org/vote/9434/)
1. expected output: no "voted against opposition" in coalition members
2. actual output: 2 coalition members are flagged with "voted against opposition"

The actual cause is that Mk that were also in the previous knesset **and** previous membership had not been closed (no end date) whe

[2016-02-20 22:17] morchickit commented on #555
Since we need all coding hands on board for other issues, and we do have
content volunteers, I think we can do this work manually.  :)
On Feb 20, 2016 11:59 PM, "Alonisser" <notifications@github.com> wrote:

[2016-02-20 22:18] morchickit commented on #554
Time estimate?
On Feb 20, 2016 7:02 PM, "Alonisser" <notifications@github.com> wrote:

[2016-02-21 05:44] OriHoch commented on #551
currently we have more important bugs to fix.. but if someone wants to work on it, they are welcome to do so

[2016-02-21 08:08] alonisser commented on #554
I guess an hour max, quite possible less

[2016-02-21 08:40] alonisser commented on #555
@morchickit I always vote for automation and is quite simple, and who knows if there would be content  volunteers next time this has to be done. My only question is if there are any content reasons not do this automatically (such as special info or decisions needed to be taken), if not I'll automate..

[2016-02-21 09:40] morchickit commented on #555
As we find lately, not all members if Knesset end their terms in the same
time - parties converge, MK are leaving, etc. So giving the same end date
to all MK would not be the good solution and probably will create more
bugs. I think we should go manually and give it a clean and validate each
MK case with the Knesset website info (unless you can use the Knesset API
for that, but I am not sure how f

[2016-02-21 10:12] OriHoch commented on #547
this issue is on hold because we can't get votes from the knesset dataservice api at the moment (see #549)

[2016-02-21 10:45] OriHoch commented on #555
to properly automate this we should have a members scraper that will update all members info, start/end times etc.. I believe this data exists in Knesset Dataservice

however, it's manageable manually as well, even though it's quite annoying..

[2016-02-21 10:50] alonisser commented on #555
I was thinking on the lines of:

if knesset has ended and member for party in knesset has no end_date

then member.end_date = knesset.end_date

sounds good enough for now to me.. Until we set a complete members scrapers
that would handle updating etc.

The specific bug was because of a mistake in the "party_at" algorithm.
which I fixed, so this is only affecting other places we display this data
o

[2016-02-21 12:11] OriHoch commented on #555
setting member.end_date=knesset.end_date IMO definately should not be done, because it will simply be wrong data..

about party_at - it might be OK to test for this condition and use the knesset end date specifically in this case, but I'm not sure if that's better in any way - both cases will show wrong data, the question is which data is more wrong (or more right)..

[2016-02-21 13:31] alonisser commented on #555
Ok for not setting member.end_date by knesset.end_date

The solution in party_at is different , the algorithm is wrong , i'll fix
and you'll see

On Sun, Feb 21, 2016 at 2:11 PM, Ori Hoch <notifications@github.com> wrote:

[2016-02-21 19:24] morchickit commented on #554
Go for it, but do Speak to Alon Antin about it as well... (Why he is not on the repo is a different question...

[2016-02-21 19:36] morchickit opened #557 "Bill proposal does not match the bill"
חוק נכי רדיפות הנאצים תיקון 22
https://oknesset.org/bill/9769/

משוייך לחוק הכניסה לישראל תיקון 26
http://www.knesset.gov.il/Laws/Data/BillGoverment/1020/1020.pdf

יש להם את אותו מספר החוברת - מ 1020

[2016-02-21 22:23] antin commented on #554
this is not a problem for the regular users, only for admin. you can close it.

[2016-02-22 07:59] #350 closed

[2016-02-22 07:59] #555 closed

[2016-02-22 11:02] alonisser commented on #557
Is this a scraping issue ? a Knesset issue or our display logic issue?

\

2016-02-21 21:36 GMT+02:00 morchickit <notifications@github.com>:

[2016-02-22 11:27] morchickit commented on #557
בגלל המזהה, אני מניחה שזה במקור מהכנסת

[2016-02-22 11:47] alonisser commented on #468
Is this scraper? knesset? or ours?

[2016-02-22 13:08] OriHoch commented on #468
sorry, closed by mistake..

looks like scraper bug

[2016-02-22 13:44] OriHoch commented on #549
works now

[2016-02-22 13:44] #549 closed

[2016-02-22 13:46] OriHoch commented on #547
ok, it's back.. I'm working on it :)

[2016-02-22 17:19] #554 closed

[2016-02-22 17:41] OriHoch commented on #350
tested on production, looks good

[2016-02-22 17:42] OriHoch commented on #555
tested on production, looks like the warning on the 2 members disappeared, so I assume it worked..

[2016-02-22 17:43] OriHoch commented on #554
tested on production, looks good

[2016-02-22 17:56] OriHoch commented on #534
@noamelf - the PR was merged and deployed, let us know what's the next steps regarding this issue

[2016-02-22 18:17] morchickit commented on #434
See here -
![screen shot 2016-02-22 at 20 14 25](https://cloud.githubusercontent.com/assets/3273659/13227830/4148d386-d9a1-11e5-9462-74c8c3e49d46.png)

[2016-02-22 18:27] alonisser commented on #513
fixed in 3.3 . would run the script today to close

[2016-02-22 18:27] #513 closed

[2016-02-22 18:34] OriHoch commented on #434
@morchickit - your previous comment is about a different bug

this issue is about presence at knesset displayed on MK page

looks like presence at knesset data is correct now, closing this bug

[2016-02-22 18:34] #434 closed

[2016-02-22 18:41] morchickit opened #562 "Attendance In committees is inaccurate"
See the pic below for overall attendance in the Drugs and Alcohol committee -
![screen shot 2016-02-22 at 20 14 25](https://cloud.githubusercontent.com/assets/3273659/13228428/a6acf790-d9a4-11e5-8bba-5c0fc2e8f3d8.png)

[2016-02-22 18:44] morchickit opened #563 "General bugs in committees"
ועדת הסמים והאלכוהול אינה מעודכנת-
פרוטוקול אחרון באתר הכנסת הוא מ- 20.1.2016 ובאתר שלנו מ-13.10.2015
אין ישיבות קרובות
ישיבות שמהן יעלו פרוטוקול לא מעודכנות.
בפרוקוטולים קיימים חברי הכנסת אינם מופיעים כנוכחים בועדה אוטומטית וצריך להוסיף אותם ידנית.

[2016-02-22 18:51] morchickit commented on #563
הועדה המיוחדת לסדר היום לרפורמה בשירות הציבורי -
אין ישיבות קרובות וישיבות שטרם פורסם מהם פרוטוקול

[2016-02-22 18:54] morchickit commented on #563
ועדת הרווחה - כותרות של ועדות אינן מעודכנות
![screen shot 2016-02-22 at 20 52 18](https://cloud.githubusercontent.com/assets/3273659/13228804/658e04c8-d9a6-11e5-8bbb-e7d7eee9a65f.png)

[2016-02-22 18:55] morchickit commented on #563
ועדת הרווחה - ישיבה אחרונה בכנסת פתוחה היא מ- 1.2 ובאתר הכנסת ב- 10.2

[2016-02-22 19:03] morchickit opened #564 "Committees that are cancelled"
How to we treat them?
![screen shot 2016-02-22 at 21 03 00](https://cloud.githubusercontent.com/assets/3273659/13229061/bffb2872-d9a7-11e5-94a2-03a158892a54.png)

[2016-02-22 19:10] morchickit opened #565 "In a single committee view - show only 10 meetings in general view"
בעברית, הגבילו את מספר היחידות שניתן לראות בכל קטגוריה:
- ישיבות קרובות: מקסימום עשר
- ישיבות מהן טרם פורסם פרוטוקול: מקסימום עשר
- ישיבות אחרונות: מקסימום עשר

[2016-02-22 19:11] morchickit opened #566 "MMM documents are not updated in any of the committees"
Can we scarp it? Or write a warning notice about it?

[2016-02-22 19:14] morchickit commented on #565
@alonisser - can you take this?

[2016-02-22 19:22] morchickit commented on #563
ועדת האתיקה - אין ישיבות קרובות. ישיבה קרובה ב-23.2 באתר הכנסת.

[2016-02-22 19:28] morchickit commented on #563
ועדת הכנסת - ישיבה אחרונה שפורסמה ממנה פרוטוקול בכנסת פתוחה היא מ- 25.1.16 ובאתר הכנסת 17.2.16
ח"כים נוכחים אינם מופיעים בועדות מינואר. צריך להוסיף ידנית.

[2016-02-22 19:35] alonisser commented on #565
yap

[2016-02-22 19:39] RacheliRoval commented on #563
ועדת החינוך התרבות והספורט-
ישיבות קרובות כתובות בסדר כרונולוגי הפוך (מהכי רחוקה להכי קרובה). לדעתי זה מבלבל-
 ישיבות מהן טרם פורסם פרוטוקול- אותן ישיבות חוזרות על עצמן-
  חסרים פרוטוקולי הישיבות של 2.2 שכבר פורסמו באתר הכנסת-
ח"כים נוכחים בישיבות- לא מופיעים כלל-

[2016-02-22 20:00] RacheliRoval commented on #563
ועדה מיוחדת ליישום הנגשת המידע הממשלתי:
ישיבות אחרונות- חסרים פרוטוקולים מאחת הישיבות של 15.2 והישיבות של 10.2, ו-2.2 למרות שפרוטוקולים פורסמו באתר הכנסת. חסרים פרוטוקולים של ישיבות בין 11.1 ל- 16.12  שפורסמו באתר הכנסת.
לא מופיעים כלל ח"כים נוכחים-
ישיבות מהן טרם פורסם פרוטוקול- חסרה הישיבה של ה-30.12 (נמצאת באתר הכנסת בלי פרוטוקול, לא נמצאת בכלל בכנסת פתוחה)

[2016-02-22 20:18] RacheliRoval commented on #563
ועדה מיוחדת לדיון בהצעת חוק הרשות הממשלתית להתחדשות עירונית וכו:
אין ישיבות קרובות בכלל (למרות שיש באתר הכנסת
אין ישיבות מהן טרם פורסם פרוטוקול למרות שיש ישיבה מה-15.2 שטרם פורסם הפרוטוקול שלה
ישיבות אחרונות לא מעודכנות בכלל! הישיבה האחרונה היא מאוגוסט למרות שהתקיימו ישיבות כל שבוע בחודשים האחרונים והפרוטוקולים פורסמו באתר הכנסת. חסר גם פרוטוקול ישיבה אחת מה-20.7
נקודה לשימור: בשתי הישיבות היחידות

[2016-02-22 20:25] alonisser commented on #562
I don't understand the meeting is from 2015
While it states "השנה" attendance. what does "השנה" refer to? 2015? 2016? תעש"ו?

[2016-02-22 20:28] alonisser commented on #565
@morchickit
1. Can you provide an example link?
2. Is the expected behavior to committees without protocols to provide a "more" link like "last committees" (a little more expensive in time)

[2016-02-22 20:35] RacheliRoval commented on #563
ועדה מיוחדת לדיון בהצעת חוק השידור הציבורי:
המידע מעודכן (באמת אין ישיבות מתוכננות ואין ישיבות מהן טרם פורסם פרוטוקול. התקיימו רק שתי ישיבות של הועדה
הח"כים הנוכחים מעודכנים.
בקיצור הכל בסדר :)

[2016-02-22 20:53] morchickit commented on #563
Ok  @OriHoch - the themes are:
1. Published Protocols are not up to date.
2. Automatic Attendance is not working.
3. Upcoming meetings is not up-to-date
4. Sometimes, some upcoming meetings are repetitive.
5. Meeting with no protocols are not updated.

[2016-02-22 20:59] morchickit commented on #565
1. ראה ועדת הרווחה של הכנסת -
https://oknesset.org/committee/10/

2. Committees without protocols see here -
https://oknesset.org/committee/1/
(I think we should change אין to - אין כרגע מידע זמין

[2016-02-22 21:00] morchickit commented on #562
I have no clue what is the logic now. I think it needs to be per sit (מושב). @shevyk ?

[2016-02-22 21:04] morchickit commented on #534
@noamelf - is this do it also on past data? Do you need me to do QA to this?

[2016-02-22 21:21] alonisser commented on #565
@morchickit @OriHoch  Can  you please explain the current logic of "protocol_not_yet_published_list" meeting list?

Looks like the current implemantion just takes committee events from a given timeframe (day +  1 from last committee meeting to now) with no check if it actually has a protocol
Along the lines of:
[code]

Is this the expected behavior or something else?

[2016-02-22 21:59] alonisser commented on #562
@morchickit the code calculates from the beginning of Gregorian year, so now is calculated from 1.1.16.  But I can change to what ever preference you have. maybe a "year ago"? moshav is quite a short period and in the first month or two would display almost always empty

[2016-02-22 22:02] alonisser commented on #563
@morchickit Can you separate item 4, and add an example link, I'm not sure this is a scraping problem like the rest here

[2016-02-23 06:56] #546 closed

[2016-02-23 07:01] alonisser commented on #565
Nevermind, just understood this is an overloaded term here.  missing protocol refers in this part to mettings we don't have any data about the actual meeting, and in another place it's in a meeting that has a missing protocol

[2016-02-23 07:27] shevyk commented on #562
I think the Gregorian year doesn't make any sense in this case. I'm for
seat מושב or dropping this number altogether.

---
Shevy Korzen, CEO
The Public Knowledge Workshop
Tel. 972.558.837.613
shevy@hasadna.org.il | @hasadna
http://www.hasadna.org.il

On 22 February 2016 at 23:59, Alonisser <notifications@github.com> wrote:

[2016-02-23 07:53] alonisser commented on #562
+1 for dropping, looks meaningless

[2016-02-23 08:00] OriHoch commented on #562
Another option is to add support for [feature switching](https://en.m.wikipedia.org/wiki/Feature_toggle) - that way we could hide this and only display it for certain users or with a URL parameter

This will allow us to test\refine this feature while still being able to say that data is accurate.

[2016-02-23 11:34] alonisser commented on #562
I can add feature toggle support, I was thinking along those lines (in work
I use them extensively, although not in django context) anyway for other
things here..

But for this specific case I'm in favor of just not displaying the number,
until we decide what is the desired outcome. when we do add, we can add
with a feature toggle to protect during qa

Twitter:@alonisser <https://twitter.com/aloni

[2016-02-23 11:52] morchickit commented on #562
So... i was thinking about it a bit more. Two problems:
1. Committees have meetings sometimes even during breaks between Mosahavim.
2. Journalist want us to tell them how much time an MK spends during a moshav.
3. People are being replaced during the year in committees. We need to show start date if it's different than other members...

[2016-02-23 12:39] alonisser commented on #562
So looks like this needs more thinking about what's desired.. :)

On Tue, Feb 23, 2016 at 1:52 PM, morchickit <notifications@github.com>
wrote:

[2016-02-23 13:38] OriHoch commented on #547
I'm running the validator now on all votes since 2014-11-17

[2016-02-23 14:15] OriHoch commented on #547
looks like my validator relied on a feature which has a bug in knesset dataservice: https://github.com/hasadna/knesset-data/issues/22

waiting for that bug to be fixed..

[2016-02-23 17:47] Racvar opened #567 "Bug: Graphic display under comparison of MKs"
I'm not sure what we're supposed to see under this tab, but in any event its currently not functioning (claims to load data, but doesn't seem to actually do anything).

Printscreen attached.
![image](https://cloud.githubusercontent.com/assets/16467715/13260873/2f1136de-da66-11e5-809b-5de17a80bac6.png)

[2016-02-23 20:52] alonisser commented on #567
@OriHoch I checked and this leads to a dead link in the old non existing api, the new api doesn't support the data needed here so I guess for now resolving should be hiding the tab. agreed?

[2016-02-23 21:02] noamelf commented on #387
@OriHoch @morchickit, from what I see, we don't support sub-committees at the moment at all. We don't have a DB table for it yet and the committees knesset-data parser doesn't support it either.  This change is not in the scope of #534 so I'm reopening it...

[2016-02-23 21:11] noamelf commented on #471
We have the committee id type in our DB model under `Committee.knesset_type_id`. Now we need to decide how to do the change UI wise. I'm reopening the issue.

[2016-02-23 21:50] alonisser commented on #161
@OriHoch  @morchickit  I believe this was a duplicate of  #555 (and the related issue) I think this can be safely closed

[2016-02-24 08:58] OriHoch commented on #161
@morchickit @RacheliRoval please test to make sure it's fixed

[2016-02-24 08:59] #530 closed

[2016-02-24 09:03] #565 closed

[2016-02-24 09:08] OriHoch commented on #387
* The committees knesset-data parser supports sub committees - there is a parent_id attribute
* This parent_id attribute is also saved to our DB

So, on the backend it should work, I think it's just a matter of showing it in the UI

[2016-02-24 09:12] OriHoch commented on #567
@alonisser yes
feature switching would have been useful here as well..

[2016-02-24 15:24] noamelf commented on #387
@OriHoch the sub committees are not retrieved as part of the committees scraper. I guess there is another endpoint in the Knesset API...

For example, go to the internal affair [sub committees page](http://main.knesset.gov.il/Activity/committees/InternalAffairs/Pages/CommitteeSubJoint.aspx), now run the knesset-data committees fetcher, and see if you get any of the name listed.

[2016-02-24 15:35] OriHoch commented on #387
if you use the get_all_active_committees function you are correct

but, you can get all the committees data (ordered as you want) using the get_page function

maybe add a get_sub_committees(parent_id) - which will run a filter like this:

http://online.knesset.gov.il/WsinternetSps/KnessetDataService/CommitteeScheduleData.svc/View_committee?$top=20&$filter=committee_parent_id eq 5 and committee_end

[2016-02-25 13:30] OriHoch opened #571 "Open Knesset Data Report Card + Feature Toggle UI"
We should provide a page that shows something like this:
* https://docs.google.com/document/d/1cmZU7Me6EiCp8qwpdx0m7pgIjp5QZOdiFgpLhEBT19Y/edit?usp=sharing

Each item in that list should be related to a feature tag. When developing features - each feature should define it's tags, and then the user could specify what level of support he wants.

* By default we will show only features which have tag

[2016-02-25 15:32] alonisser commented on #571
Not sure about that.. let's talk monday.

[2016-02-25 17:51] alonisser commented on #566
@OriHoch you want me to investigate?

[2016-02-25 19:31] alonisser commented on #536
Looks ok

[2016-02-25 19:31] #536 closed

[2016-02-26 06:24] OriHoch commented on #566
Yes, thanks.

it should be a knesset-data task first to expose this data via an api -
then use this API from open knesset

On Thu, Feb 25, 2016, 19:51 Alonisser <notifications@github.com> wrote:

[2016-02-26 06:39] OriHoch commented on #566
related knesset-data issue: https://github.com/hasadna/knesset-data/issues/24

[2016-02-26 06:42] #460 closed

[2016-02-26 08:23] alonisser commented on #566
I took it, probably would take some time to implement, but an important
feature (at least for me as a user.. )

On Fri, Feb 26, 2016 at 8:39 AM, Ori Hoch <notifications@github.com> wrote:

[2016-02-26 09:30] alonisser opened #574 "parties members presentation photos for big parties is problematic"
1. recreate:
Use laptop/desktop
go to https://oknesset.org/parties-members/20/
2. You can see that viewing members of big parties (mainly halikud and labor party) demands tiresome scrolling down the column

Optional fix:

move to a row presentation of party by party (from largest to smallest or by alphabet) like the small screen (responsive mobile view for example) shows

[2016-02-28 17:29] yotammanor commented on #494
@OriHoch  Is this my responsibility to close this tag, or yours?

[2016-02-28 17:35] OriHoch commented on #494
usually whomever opened it should close it

[2016-02-28 19:49] morchickit commented on #391
Still Can't add him :-(
ועדת הכספים

[2016-02-28 20:51] morchickit commented on #391
I also can't add יהושע זוהר as a lobbyist!

[2016-02-28 20:57] morchickit commented on #562
OK, After looking at this with the finance committee, I was thinking of the following:
1. This logic will show attendance per Moshav. Moshav will be calculated from the day it begin until the day before the new moshav start (and not the official moshav end date). This is because some committees still meet during the break between moshav.
2. Overall attendance to the whole knesset - Meaning from th

[2016-02-28 21:19] morchickit opened #577 "Some committees are not displaying protocols that are displayed on the Knesset website"
https://oknesset.org/committee/23/ - ועדת הסמים והאלכוהול כדוגמא

[2016-02-28 21:22] morchickit opened #578 "Automatic attendance is not working in committees"
See the justice committee - https://oknesset.org/committee/meeting/11387/

[2016-02-28 21:24] morchickit opened #579 "Upcoming meetings in committee shows duplicates"
![screen shot 2016-02-28 at 21 22 54](https://cloud.githubusercontent.com/assets/3273659/13381974/918beef4-de61-11e5-9e16-efecf0e0bfdc.png)
https://oknesset.org/committee/5/

[2016-02-28 21:25] morchickit opened #580 "Meetings with no protocols are not updated"
ישיבות שטרם פורסם מהם פרוטוקול לא באמת מעודכנות.
תוצאה כנראה של #577

[2016-02-28 21:25] morchickit commented on #563
See the following:
1. Published protocols - #577
2. Automatic Attendance is not working - #578
4. Upcoming meetings is not up-to-date - #579

[2016-02-28 21:25] #563 closed

[2016-02-29 07:30] alonisser commented on #579
This is a tough one.. since the text isn't the same.
We can apply some heuristics to remove duplicate. or perhaps just try to flag for admin to decide if one should be removed (Since heuristics might do mistakes.. ) @morchickit what do you think?

[2016-02-29 14:56] OriHoch commented on #579
I'm working on the meetings scraper right now - moving it to knesset-data and fixing some bugs, I will work on it

this is probably due to our scraping processes, so no need for heuristics

[2016-02-29 16:01] OriHoch commented on #578
should be fixed in #490

[2016-02-29 16:02] OriHoch commented on #580
@morchickit - please add a specific example

[2016-02-29 17:03] OriHoch commented on #579
I hid the upcoming meetings section using a waffle flag ("committee meetings for which protocol was not yet published")

The entire upcoming meetings section scraping should be moved to knesset-data and fixed there..

[2016-02-29 17:06] OriHoch commented on #578
closing this issue, will keep track in #572

[2016-02-29 17:06] #578 closed

[2016-02-29 17:06] OriHoch commented on #577
@morchickit - please provide specific example

[2016-02-29 17:09] OriHoch commented on #564
this should be handled as part of the upcoming meetings scraper

the upcoming meetings feature is currently hidden (after #572 is deployed) and work on it should be done in #579

moving to milestone 20.2

[2016-02-29 17:24] OriHoch opened #583 "committee meetings - detecting attendants process is very fragile - should be re-implemented"
#### the problem
the current process of detecting which members (or other persons) attended a committee is very fragile and prone to errors

for example, take a look at [this meeting](https://oknesset.org/committee/meeting/10412/):
* yinon magal - not detected because he is not currently an MK (however, he was an MK at time of the meeting)
* hamad amar - was not detected because his name is spelle

[2016-02-29 17:25] OriHoch opened #584 "committee attendance data should be according to מושב not according to year"
see discussion in #562

[2016-02-29 17:25] OriHoch commented on #562
1. about moshav - I opened a new issue to handle it in a later milestone - #584
2. about the bugs in attendance - there are multiple problems there, I opened a new issue to handle those as well - #583

closing this issue

[2016-02-29 17:25] #562 closed

[2016-02-29 17:44] OriHoch opened #585 "should have a process that validate committee meetings data"
after #572 committee meetings data of new meetings should be correct

we should also have a process that validates existing meetings data and makes sure that old meetings data is correct as well

[2016-03-02 19:03] alonisser commented on #579
hmm, Lets check after your fix, if this issue is fixed also .

[2016-03-02 23:04] morchickit opened #589 "Connect re:dash to Open Knesset"
So we can get data quickly and nicely and analyse it deeply :-)

@OriHoch - can you create a read only user on the DB and send info to Adam please?